
/* 父子容器 */
.w50 {
    width: 50%;
}

.containerOut {
    position: relative;
    background-color: rgba(250, 250, 250, 1);
    padding-bottom: 4.25rem;
}

.containerOut .headerBar {
    height: 7.5rem;
    width: 100%;
    position: absolute;
    background-color: #836FFF;
}

.containerOut .containerInner {
    position: relative;
    top: 3.75rem;
    padding: 0rem 1.875rem;
    margin-bottom: 5.625rem;
}

.containerOut .baseInfo,
.containerOut .orderInfo,
.containerOut .receiveInfo,
.containerInner .customInfo,
.containerOut .partBox {
    padding: 1.25rem;
    border: 1px solid #e7e7e7;
    background-color: rgba(255, 255, 255, 1);
    border-radius: .75rem;
}

.containerOut .receiveInfo,
.containerOut .partBox {
    margin-top: 1.875rem;
}

.containerOut .orderInfo,
.containerOut .baseInfo {
    margin-bottom: 1.875rem;
}

.containerInner .baseInfo>.title,
.containerInner .orderInfo>.title,
.containerInner .receiveInfo>.title, 
.containerInner .customInfo>.title {
    font-size: 1.375rem;
    margin-bottom: .5rem;
}

.containerInner .baseInfo>.formItem,
.containerInner .receiveInfo>.formItem,
.containerInner .partBox>.formItem {
    padding: .75rem 0rem;
}

.containerInner .baseInfo>.formItem>.labTitle,
.containerInner .receiveInfo>.formItem>.labTitle,
.containerInner .partBox>.formItem>.labTitle {
    font-size: 1.125rem;
    line-height: 1.25rem;
    margin-bottom: .5rem;
}

.containerInner .baseInfo>.formItem>.labTitle>.addText,
.containerInner .partBox>.formItem>.labTitle>.addText {
    color:#999;
}

.baseInfo>.formItem>.placeholderText,
.receiveInfo>.formItem>.placeholderText,
.partBox>.formItem>.placeholderText {
    font-size: 1.125rem;
    width: 100%;
    padding: .375rem 0rem 1rem;
    border-bottom: 1px solid #e7e7e7;
}

.containerOut .baseInfo .remarkText,
.containerOut .receiveInfo .remarkText,
.containerOut .partBox .remarkText {
    width: 100%;
    height: 7.5rem;
    margin-top: .625rem;
    padding: .875rem .75rem;
    box-sizing: border-box;
}

.formItem .isRequired{
    color: #CD0000;
    margin-right: .25rem;
}

.isShowItem {
    display: none !important;
}

/* 单文件上传*/
.baseInfo>.formItem>.uploadBox {
    margin-top: .625rem;
    width: 48%;
    height: 8.75rem;
    border: 1px solid #e7e7e7;
    position: relative;
}

.baseInfo>.formItem>.uploadBox>.uploadInput {
    width: 100%;
    height: 100%;
    opacity:0;
    position:absolute;
    width:100%; 
    height:8.75rem;
}

.baseInfo>.formItem>.uploadBox>.showImg {
    display:block;
    margin:0 auto; 
    height:100%;
    width: 100%;
}

.baseInfo>.formItem>.uploadBox {
    background: url('../img/uploadIco.png') no-repeat center center;
    background-size: 3.75rem;
}

/* 多文件上传 */
.baseInfo>.formItem>.fileBox {
    width: 48%;
    display: inline-block;
    margin-bottom: 1.875rem;
    text-align: center;
}

.baseInfo>.formItem>.fileBox>.uploadInput {
    width: 100%;
    height: 100%;
    left: 0rem;
}

.baseInfo>.formItem>.uploadBox .typeText{
    vertical-align: middle;
    color: #cccccc;
    padding-top: .375rem;
    text-align: center;
}

.baseInfo>.formItem>.uploadBox .typeText .requiredFlag{
    color: #CD0000;
    vertical-align: middle;
    margin-left: .375rem;
}

/* 单文件显示 */
.orderItem>.tradingPic>.showImg {
    width: 50%;
}

/* 多文件显示 */
.orderItem>.labContent>.showImg {
    width: 80%;
    /* height: 100%; */
}

/* 办理区域*/
.baseInfo>.formItem>.zoomList {
    font-size: 0px;
    margin-top: .5rem;
}

.baseInfo>.formItem>.zoomList>li,
.baseInfo>.formItem>.closeSeal>li {
    height: 1.875rem;
    width: 5rem;
    text-align: center;
    line-height: 1.875rem;
    border: 1px solid #e7e7e7;
    border-radius: .3125rem;
    margin-right: .625rem;
    margin-bottom: .875rem;
    display: inline-block;
}

.baseInfo>.formItem>.zoomList>li.checkedItem,
.baseInfo>.formItem>.closeSeal>li.checkedItem {
    background-color: #836FFF;
    border-color: #836FFF;
    color: #fff;
}

.baseInfo>.formItem>.typeList>li {
    width: 9rem;
    height: 2.25rem;
    line-height: 2.25rem;
}

/* 变更方案 */
.baseInfo>.formItem>.pinchZoom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.baseInfo>.formItem>.pinchZoom>li {
    width: 48%;
    line-height: 1rem;
    padding-top: 1.25rem;
    margin-right: 0rem;
    font-size: .875rem;
    height: 3.75rem;
    box-sizing: border-box;
}

/* 变更项目 */
.containerInner .formItem>.content>.optionAbout {
    width: 45%;
    height: 7.5rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.25rem .75rem;
    position: relative;
    box-sizing: border-box;
    margin-bottom: .5rem;
    margin-right: .75rem;
    
}

.containerInner .optionAbout>.flag>img {
    width: 1.5rem;
    vertical-align: middle;
}

.containerInner .optionAbout>.flag>.text {
    padding-left: .75rem;
    font-size: 1rem;
    vertical-align: middle;
}

.containerInner .optionAbout>.price {
    font-size: 1.125rem;
    color: red;
    font-weight: 700;
    position: absolute;
    bottom: .75rem;
} 

.containerInner .optionAbout>input[type='radio'],
.containerInner .optionAbout>input[type='checkbox']
{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    color: #836FFF;
    border: 1px solid #836FFF;
    -webkit-appearance:none;
    border-radius: 1.875rem;
    right: 0.75rem;
    bottom: 1rem;
}

.containerInner .optionAbout>input[type='radio']:checked,
.containerInner .optionAbout>input[type='checkbox']:checked
{
    background: url('../img/checked.png') no-repeat center center;
    background-size: cover;
}

/* 订单页面 */
.orderInfo .orderItem {
    margin-bottom: .5rem;
}

.orderInfo .orderItem .labTitle {
    color: #999999;
}

.orderInfo .orderItem .labTitle .colon {
    margin-right: .5rem;
    margin-left: .25rem;
}


/* 备注信息 */
.containerInner .tipBox {
    color: #fff;
    border-radius: .375rem;
    padding: 1.25rem 1.875rem;
    margin-top: 1.875rem;
    background: linear-gradient(to top right, #40E0D0, #836FFF);
}

.containerInner .tipBox>.tipTitle {
    text-align: center;
    font-size: 1.25rem;
} 

.containerInner .tipBox>.tipText {
    font-size: 1rem;
}

/* 咨询方式 */
.containerInner .customInfo {
    margin-top: 1.875rem;
}

.customInfo>.formItem {
    margin-bottom: .75rem;
}

.customInfo .formItem .customIcon {
    width: 3.75rem;
    height: 3.75rem;
    vertical-align: middle;
    border-radius: 1.875rem;
    border: 1px solid #999999;
    margin-top: .5rem;
}

.customInfo .formItem .customBox {
    line-height: 1.5rem;
    margin-left: 2rem;
    padding-top: .7rem;
}

.customInfo .formItem .customBox>.title, 
.customInfo .formItem .customBox>.tel {
    font-size: 1rem;
    font-weight: 700;
    vertical-align: middle;
}

.customInfo .formItem .customBox>.addText {
    font-size: .875rem;
    margin-left: .375rem;
}



/* 下一步按钮 */
.containerInner .nextBtn {
    margin-top: 2.8125rem;   
    margin-bottom: 1.875rem;
    background-color: #836FFF;
}

.containerInner a.nextBtn:active {
    background-color: #836FFF;
}

/* 微信支付 */
.paymentBox {
    position: fixed;
    bottom: 0rem;
    height: 3.75rem;
    line-height: 3.75rem;
    width: 100%;
    padding: 0rem 1.875rem;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
}

.paymentBox>.payInfo {
    font-size: 1.125rem ;
}

.paymentBox>.payInfo>.payAmount,
.paymentBox>.payInfo>.RMB_flag
{
    font-size: 1.25rem;
    color: red;
    font-weight: 700;
}

.paymentBox>.paymentBtn {
    width: 8.75rem;
    height: 3.125rem;
    margin-top: .3125rem;
    line-height: 3.125rem;
    font-size: 1.125rem;
    text-align: center;
    color: #fff;
    border-radius: 3.125rem;
    background-color: #836FFF;
}