/* --------------提取公共部分----------------- */
.layOut {
    padding: 1.875rem 1.25rem 7.5rem;
}

.layOut .frame .formItem .remarkTitle {
    padding-bottom: .5rem;
} 

.layOut .tipBox {
    margin-top: 1.875rem;
    margin-bottom: 7.5rem;
}

.frame {
    padding: 1.25rem;
    border: 1px solid #e7e7e7;
    background-color: rgba(255, 255, 255, 1);
    border-radius: .75rem;
    margin-top: 1.875rem;
}

.frame .title {
    font-size: 1.375rem;
    margin-bottom: .5rem;
}

.frame .formItem .labTitle {
    font-size: 1.125rem;
}

.frame .formItem .textarea {
    width: 100%;
    height: 6.25rem;
    padding: .75rem;
    box-sizing: border-box;
    border: 1px solid #e7e7e7;
}

.contentBox {
    margin-top: 1.25rem;
}

.contentBox>ul {
    display: flex;
    display: -webkit-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    box-sizing: border-box;
    padding: 0rem 1.875rem;
}

.contentBox>ul>li {
    width:30%;
    height: 7rem;
    margin-bottom: 1.25rem;
    border: .0625rem solid #e7e7e7;
    text-align: center;
    border-radius: .375rem;
}

.contentBox>ul>li.lastItem {
    visibility: hidden;
}

.contentBox>ul>li.last>a {
    display: none;
}

.contentBox>ul>li>a {
    display: block;
    width: 100%;
    height: 100%;
    font-size: 1rem;
    padding-top: 1.25rem;
    box-sizing: border-box;
    color: #000000;
}

.contentBox>ul>li>a>img {
    display: block;
    width: 2.8125rem;
    margin: 0 auto;
    margin-bottom: .375rem;
}


/* --------------刻章信息页面----------------- */

.sealContainer {
    position: relative;
    background-color: rgba(250, 250, 250, 1);
    padding-bottom: 4.25rem;
}

.sealContainer .headerBar {
    height: 7.5rem;
    width: 100%;
    position: absolute;
    background-color: #836FFF;
    /* background: url('../img/sealPage_bg.jpg') no-repeat center center;
    background-size: cover; */
}

.sealContainer .contentBox {
    position: relative;
    top: 3.75rem;
    /* z-index: 999; */
    padding: 0rem 1.875rem;
}

.sealContainer .upBox {
    padding: 1.25rem;
    border: 1px solid #e7e7e7;
    background-color: rgba(255, 255, 255, 1);
    border-radius: .75rem;
}

.sealContainer .upBox>.title,
.downBox>.title,
.centerBox>.title {
    font-size: 1.375rem;
}

.upBox>.formItem,
.downBox>.formItem {
    padding: .75rem 0rem;
}

.upBox>.formItem>.labTitle,
.downBox>.formItem>.labTitle {
    font-size: 1.125rem;
    line-height: 1.25rem;
}

.upBox>.formItem>.placeholderText,
.downBox>.formItem>.placeholderText {
    font-size: 1.125rem;
    width: 100%;
    padding: .375rem 0rem 1rem;
    border-bottom: 1px solid #e7e7e7;
}

.upBox>.formItem>.selectZoom {
    font-size: 0px;
}

.upBox>.selectZoomBox {
    padding-bottom: 0px;
}

.upBox>.formItem>.selectZoom {
    margin-top: .5rem;
}

.upBox>.formItem>.selectZoom>li,
.upBox>.formItem>.closeSeal>li {
    height: 1.875rem;
    text-align: center;
    line-height: 1.875rem;
    border: 1px solid #e7e7e7;
    border-radius: .3125rem;
    margin-right: .625rem;
    margin-bottom: .875rem;
    display: inline-block;
}

.upBox>.formItem>.selectZoom>li {
    width: 5rem;
}

.upBox>.formItem>.closeSeal {
    margin-top: .9375rem;
}

.upBox>.formItem>.closeSeal>li {
    width: 4rem;
}

.upBox>.formItem>.closeSeal>li.lastItem {
    margin-right: 0px;
}

.upBox>.formItem>.selectZoom>li.checkedItem,
.upBox>.formItem>.closeSeal>li.checkedItem {
    background-color: #836FFF;
    border-color: #836FFF;
    color: #fff;
}

.upBox>.formItem>.sealBox {
    margin-top: .625rem;
}

.upBox>.formItem>.sealBox>li {
    height: 7.5rem;
    line-height: 7.5rem;
    border: 1px solid #e7e7e7;
    border-radius: .375rem;
    margin-bottom: .5rem;
    position: relative;
    padding: 0rem .5rem;
}

.upBox>.formItem>.sealBox>li>img {
    width: 5rem;
    margin-right: 2.5rem;
    vertical-align: middle;
}

.upBox>.formItem>.sealBox>li>.sealType {
    /* font-size: 1.125rem; */
    font-weight: 700;
    padding-right: 1.25rem;
    position: absolute;
    left: 7.5rem;
}

.upBox>.formItem>.sealBox>li>.sealPrice {
    font-size: 1rem;
    font-weight: 700;
    color: red;
    position: absolute;
    top: 1.875rem;
    left: 7.25rem;
}

.upBox>.formItem>.sealBox>li>.addBtn {
    width: 5rem;
    font-size: 1rem;
    line-height: 1.875rem;
    text-align: center;
    color: #836FFF;
    background-color: transparent;
    border: 1px solid #836FFF;
    border-radius: 1rem;
    position: absolute;
    top: 50%;
    right: 1.25rem;
}

.upBox>.formItem>.sealBox>li>.addBtn>span {
    font-size: 18px;
    font-weight: 700;
}

.upBox>.formItem>.sealBox>li.sealPri {
    padding-left: .625rem;
}

.upBox>.formItem>.uploadBox {
    margin-top: .625rem;
    width: 13.125rem;
    height: 8.75rem;
    border: 1px solid #e7e7e7;
}

.uploadIcon {
    background: url('../img/uploadIco.png') no-repeat center center;
    background-size: 3.75rem;
}

.upBox>.formItem>.uploadBox>input {
    width: 100%;
    height: 100%;
}

.sealContainer .downBox {
    margin-top: 1.875rem;
    padding: 1.25rem;
    border: 1px solid #e7e7e7;
    background-color: rgba(255, 255, 255, 1);
    border-radius: .75rem;
}

.sealContainer .downBox .remarkText,
.sealContainer .upBox .remarkText {
    width: 100%;
    height: 7.5rem;
    margin-top: .625rem;
    padding: .875rem .75rem;
    box-sizing: border-box;
}

.contentBox .nextBtn {
    margin-top: 2.8125rem;   
    margin-bottom: 1.875rem;
    background-color: #836FFF;
}

.contentBox a.nextBtn:active {
    background-color: #836FFF;
}


/* --------------刻章订单页面----------------- */

.sealOrderContainer {
    height: 100%;
    padding: 1.875rem;
    background-color: rgba(250, 250, 250, 1);
}

.sealOrderContainer>.headerBar {
    position: absolute;
    top: 0rem;
    left: 0rem;
}

.sealOrderContainer>.orderAbout {
    position: relative;
}

.sealOrderContainer>.orderAbout {
    padding: 1.25rem;
    border: 1px solid #e7e7e7;
    border-radius: .375rem;
    background-color: #fff;
    margin-bottom: 1.25rem;
} 

.sealOrderContainer>.orderAbout>.orderAbout_title {
    font-size: 1.375rem;
    margin-bottom: .5rem;
}

.seal_information>.orderAbout_content>.informationItem {
    font-size: 1rem;
    letter-spacing: .1875rem;
    color: #999999;
    line-height: 1.5rem;
}

.seal_information>.orderAbout_content>.informationItem>.companyName,
.informationItem>.ID,
.informationItem>.zoom,
.informationItem>.remarkText {
    letter-spacing: 0rem;
    color: #000000;
}

.seal_information>.orderAbout_content>.tradingPic>img {
    height: 8.75rem;
}


.seal_goods .sealListBox {
    width: 100%;
}

.seal_goods .sealListBox .sealItem {
    height: 3.75rem;
}

.seal_goods .sealListBox .sealItem>td {
    width: 25%;
    font-size: 1rem;
    text-align: center;
}

.seal_goods .sealListBox .sealItem>.sealIcon>img {
    height: 2.5rem;
}

.seal_goods .sealListBox .sealItem>.sealName {
    color: #999999;
    
}

.seal_goods .sealListBox .sealItem>.sealAccount {
    font-weight: 700;
}

.seal_goods .sealListBox .sealItem>.sealPrice {
    font-weight: 700;
    color: red;
    text-align: right; 
}

.tipBox {
    color: #fff;
    border-radius: .375rem;
    padding: 1.25rem 1.875rem;
    background: linear-gradient(to top right, #40E0D0, #836FFF);
}

.sealContainer>.tipBox {
    margin-bottom: 3.75rem;
}

.tipBox>.tipTitle {
    text-align: center;
    font-size: 1.25rem;
} 

.tipBox>.tipText {
    font-size: 1rem;
}

.paymentBox {
    position: fixed;
    bottom: 0rem;
    height: 3.75rem;
    line-height: 3.75rem;
    width: 100%;
    padding: 0rem 1.875rem;
    box-sizing: border-box;
    background-color: #fff;
    border-top: 1px solid #e7e7e7;
}

.paymentBox>.payInfo {
    font-size: 1.125rem ;
}

.paymentBox>.payInfo>.payAmount,
.paymentBox>.payInfo>.RMB_flag
{
    font-size: 1.25rem;
    color: red;
    font-weight: 700;
}

.paymentBox>.paymentBtn {
    width: 8.75rem;
    height: 3.125rem;
    margin-top: .3125rem;
    line-height: 3.125rem;
    font-size: 1.125rem;
    text-align: center;
    color: #fff;
    border-radius: 3.125rem;
    background-color: #836FFF;
}

/* --------------注销公司信息页面----------------- */

.companyFormContainer {
    padding: 1.875rem 1.875rem 0rem 1.875rem; 
    background-color: rgba(250, 250, 250, 1);
}

.commonBox>.formItem {
    margin-top: 1.25rem;
}

.commonBox>.formItem>.title {
    font-size: 1.125rem;
}

.companyFormContainer>.formItem>.title>.text {
    padding-left: .5rem;
    color: #999999;
    font-size: 1rem;
}

.commonBox>.formItem>.content {
    margin-top: .5rem;
}

.commonBox>.formItem>.content>.optionAbout {
    width: 48%;
    height: 7.5rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: 8px;
    padding: 1.25rem .75rem;
    position: relative;
    box-sizing: border-box;
}

.commonBox .content>.optionAbout {
    margin-bottom: .5rem;
}

.commonBox .optionAbout>.flag>img {
    width: 1.5rem;
    vertical-align: middle;
}

.commonBox .optionAbout>.flag>.text {
    padding-left: .75rem;
    font-size: 1rem;
    vertical-align: middle;
}

.commonBox .optionAbout>.price {
    font-size: 1.125rem;
    color: red;
    font-weight: 700;
    position: absolute;
    bottom: .75rem;
} 

.commonBox .optionAbout>input[type='radio'],
.commonBox .optionAbout>input[type='checkbox']
{
    position: absolute;
    width: 1.5rem;
    height: 1.5rem;
    color: #836FFF;
    border: 1px solid #836FFF;
    -webkit-appearance:none;
    border-radius: 1.875rem;
    right: 0.75rem;
    bottom: 1rem;
}

.commonBox .optionAbout>input[type='radio']:checked,
.commonBox .optionAbout>input[type='checkbox']:checked
{
    background: url('../img/checked.png') no-repeat center center;
    background-size: cover;
}

.companyFormContainer .partOther .partOther_self {
    width: 100% !important;
}

.companyFormContainer .partOther .partOther_self>.selfText {
    padding: .5rem 1.875rem .5rem .75rem;
    width: 100%;
    height: 4rem;
    line-height: 1rem;
    box-sizing: border-box;
    border: none;
}

.companyFormContainer .partOther .partOther_self>.selfText:focus {
    outline: none;
}


.companyFormContainer>.formItem>.companyNameBox {
    border: 1px solid #e7e7e7;
    background-color: #fff;
    border-radius: .5rem;
    height: 6.25rem;
    padding: 0rem 1.25rem;
}

.companyFormContainer>.formItem>.companyNameBox>.companyNameText {
    height: 4.375rem;
    border-bottom: 1px solid #e7e7e7;
    width: 100%;
    padding-left: .75rem;
    font-size: 1.125rem;
}

.companyFormContainer .nextBtn {
    margin-top: 2.8125rem;
    margin-bottom: 1.875rem;
    background-color: #836FFF;
}

.companyFormContainer a.nextBtn:active {
    background-color: #836FFF;
}

/* --------------注销公司订单页面----------------- */

.companyOrderContainer {
    padding-bottom: 1.875rem;
}

.companyOrderContainer>.fileList>.content {
    border: 1px solid #e7e7e7;
    border-radius: 0.5rem;
    padding: 0px 12px;
    background-color: #fff;
}

.companyOrderContainer>.fileList>.content>.fileTable {
    width: 100%;
}

.companyOrderContainer>.fileList>.content>.fileTable>tbody>tr {
    height: 3.75rem;
    line-height: 3.75rem;
    border-bottom: 1px dashed #e7e7e7;
}

.companyOrderContainer>.fileList>.content>.fileTable>tbody>tr:last-child {
    border-bottom: none;
}

.companyOrderContainer>.fileList>.content>.fileTable td {
    width: 50%;
    padding: 0rem .5rem;
    font-size: 1rem;
}

.companyOrderContainer>.agreementText {
    margin-top: 1.875rem;
    margin-bottom: 5rem;
    font-size: 1rem;
}

.companyOrderContainer>.agreementText>input[type='radio'],
.companyOrderContainer>.agreementText>input[type='checkbox']
{
    width: 1.125rem;
    height: 1.125rem;
    vertical-align: middle;
}

.companyOrderContainer>.agreementText>.tipText,
.companyOrderContainer>.agreementText>.orderText
{
    font-size: 1.125rem;
    vertical-align: middle;
}

/* --------------红本合同信息页面----------------- */
.redPactContainer {
    background-color: rgb(250, 250, 250);
}

.redPactContainer>.contentBox {
    top: 0rem;
    padding: 2rem 1.875rem;
}

.redPactContainer>.contentBox>.tipBox {
    height: 15.375rem;
    /* margin-bottom: 3.75rem; */
    margin-top: 1.875rem;
    padding-bottom: 1.25rem;
}

.redPactContainer>.contentBox>.upBox>.formItem>.labTitle>.text {
    color: #999999;
}

.redPactContainer>.contentBox>.upBox>.formItem>.uesText {
    padding: 1.25rem .75rem;
    margin-top: .5rem;
    width: 100%;
    height: 7.5rem;
    border: 1px solid #e7e7e7;
    border-radius: .5rem;
    box-sizing: border-box;
}

.redPactContainer>.contentBox>.upBox>.upload_ID {
    font-size: 0px;
    margin-bottom: 1.375rem;
}

.redPactContainer>.contentBox>.upBox>.formItem>.ID_img {
    display: inline-block;
    width: 48%;
    height: 7.5rem;
    margin-top: .5rem;
    border: 1px solid #e7e7e7;
    /* background: url('../img/uploadIco.png') no-repeat center center;
    background-size: 30%; */
    text-align: center;
}

.redPactContainer>.contentBox>.upBox>.formItem>.ID_img>.tipText {
    color: #999999;
    font-size: 1rem;
    display: inline-block;
    margin-top: .5rem;
    vertical-align: middle;
}

/* --------------红本合同订单页面----------------- */

.redPactOrderContainer {
    margin-bottom: 1.875rem;
}

.redPactOrderContainer>.headerBar {
    position: absolute;
    top: 0px;
    left: 0px;
}

.redPactOrderContainer>.orderAbout {
    position: relative;
}

.redPactOrderContainer>.orderAbout>.orderAbout_content>.informationItem>.text {
    color: #000000;
}


/* --------------银行开户信息页面----------------- */
.bankFormContainer .contentBox .formItem .typeText {
    text-align: center;
    padding-top: .5rem;
    color: #cccccc;
}

.bankFormContainer>.contentBox>.remarkText {
    margin-bottom: 5rem;
}

/* --------------银行开户订单页面----------------- */


/* --------------变更代跑信息页面----------------- */
.upBox>.formItem>.pinchZoom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    flex-wrap: wrap;
}

.upBox>.formItem>.pinchZoom>li {
    width: 48%;
    line-height: 1rem;
    padding-top: 1.25rem;
    margin-right: 0rem;
    font-size: .875rem;
    height: 3.75rem;
    box-sizing: border-box;
}

.upBox>.formItem>.pinchZoom>li:last-child {
    padding-top: .875rem;
}

.contentBox>.tipBox {
    margin-top: 1.25rem;
    margin-bottom: 5.625rem;
}

/* --------------登报服务信息页面----------------- */

.newsContainer>.contentBox .optionType {
    width: 48%;
    height: 80px;   
    position: relative;
    top: .5rem;
    right: 0px;
    border: 1px solid #e7e7e7; 
}

.newsContainer>.contentBox .optionType>.flag {
    padding-top: .75rem;
    padding-left: .5rem;
}

.newsContainer>.contentBox .optionType>.price {
    left: .5rem;
    font-size: 1rem;
}

.newsContainer>.contentBox .optionType>.price,
.newsContainer>.contentBox .optionType>.selectBtn {
    top: 3rem;
}

.missFileBox .missFileTab {
    margin-top: .5rem;
}

.missFileBox .missFileTab tr td {
    padding: 0rem 1.875rem 0px 0rem;
}

/* --------------登报服务订单页面----------------- */
.layout .receive_address {
    margin-top: 1.875rem;
}

/* --------------商标专利入口页面----------------- */
.patentEntry>ul>li:last-child {
    visibility: hidden;
}

/* --------------专利信息页面----------------- */
.patentForm {
    padding-bottom: 2.625rem;
}

.patentForm .optionAbout>.flag>.text {
    padding-left: 0rem;
}

.patentForm .tipBox {
    margin-top: 1.875rem;
}

.patentForm .formItem .checkType {
    margin-top: .75rem;
}

.patentForm .formItem .checkType>li {
    width: 45%;
    height: 2.25rem;
    margin-right: .75rem;
    text-align: center;
    line-height: 2.25rem;
    display: inline-block;
    border: 1px solid #e7e7e7;
    border-radius: .3125rem;
}

.patentForm .formItem .checkType>li.checkedItem {
    color: #fff;
    background-color: #836FFF;
    border-color: #836FFF;
}



/* --------------专利订单页面----------------- */

/* --------------商标信息页面----------------- */

/* --------------商标订单页面----------------- */

/* --------------税审报告信息页面----------------- */
.taxReport_form .formItem .companyNameText {
    width: 100%;
    height: 2.25rem;
    background-color: transparent;
    border-bottom: 1px solid #e7e7e7;
}


/* --------------法律服务信息页面----------------- */
.lawContainer .innerBox {
    position: absolute;
}

.lawContainer .innerBox>img {
    width: 100%;
}