/*------------------------------------ ├ 初始化 ┆ └-----------------------------------*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video,
input,
button {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 14px;
  font-weight: normal;
  outline: none;
  -webkit-tap-highlight-color: transparent;
  font-family: "微软雅黑";
  list-style: none;
}

.fl {
    float: left;
}

.fr {
    float: right;
}

.clearfix::after {
    content: '.';
    display: block;
    clear: both;
    height: 0;
    visibility: hidden;
}

.clearfix {
    zoom: 1;
}

table {
    border-collapse:collapse;
}  

.w10 {
    width: 10%;
}

.w20 {
    width: 20%;
}

.w25 {
    width: 25%;
}

.w30 {
    width: 30%;
}

.w50 {
    width: 50%;
}

.w100 {
    width: 100%;
}

input{
    outline-color: invert ;
	outline-style: none ;
	outline-width: 0px ;
	border: none ;
	border-style: none ;
	text-shadow: none ;
	/* -webkit-appearance: none ; */
	-webkit-user-select: text ;
	outline-color: transparent ;
	box-shadow: none;
}

a,
a:hover {
    text-decoration: none;
}

::-webkit-input-placeholder { /* WebKit browsers */
    color: #999;
    font-size: 14px;
  }
  
  ::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #999;
    font-size: 14px;
  }
  
  :-ms-input-placeholder { /* Internet Explorer 10+ */
    color: #999;
    font-size: 14px;
  }