/* -----------partner登录页面------------- */
.loginBox {
    text-align: center;
    position: relative;
    padding: 0rem 1.875rem;
}

.loginBox .title {
    font-size: 1.875rem;
    line-height: 1.875rem;
    color: #ffffff;
    margin-top: 15%;
    margin-bottom: 47%;
}

.loginBox .formItem {
    height: 2.625rem;
    margin-bottom: 1.25rem;
}

.loginBox .formItem .labelTitle {
    font-size: 1.125rem;
    line-height: 2.625rem;
    color: #ffffff;
    margin-right: .75rem;
} 

.loginBox .formItem .inputText {
    height: 2.25rem;
    width: 80%;
    line-height: 2.25rem;
    padding-left: .5rem;
}

.loginBox .submitBtn {
    width: 98%;
    height: 2.8125rem;
    line-height: 2.8125rem;
    border-radius: .5rem;
    margin-top: 2.5rem;
    color: #fff;
    font-size: 1.25rem;
    background-color: #b39fff;
    border: 1px solid #e7e7e7;
}

/* -----------partner入口页面------------- */
.partnerContainer {
    padding: 1.25rem;
}

.partnerContainer .partner_bg {
    margin-top: 15%;
    margin-bottom: 10%;
}

.partnerContainer .partner_bg>img {
    width: 100%;
}

.partnerContainer .partnerBtn .operateBtn {
    width: 45%;
    height: 3.5rem;
    color: #b39fff;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3.5rem;
    border-radius: 2rem;
    border: 1px solid #b39fff;
}

.partnerContainer .partnerBtn .loginBtn {
    color: #fff;
    background-color: #b39fff;
}

/* -----------partner注册页面------------- */
.partnerRegist>.contentBox>.centerBox .remarkText {
    font-size: .75rem;
    color: #999999;
} 

/* -----------partner登录页面------------- */
.partnerLogin {
    padding: 0rem 1.25rem;
}

.partnerLogin>.title {
    padding: 1.875rem 0rem 1.875rem 1rem;
    font-size: 1.5rem;  
    font-weight: 700;
} 

.partnerLogin .loginForm {
    border-radius: .625rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    padding: 2.8125rem 1.25rem;
    margin-bottom: 2.8125rem;
}

.partnerLogin .loginForm>.formItem {
    padding-bottom: .5rem;
    margin-bottom: 12px;
    border-bottom: 1px solid #e7e7e7;
}

.partnerLogin .loginForm>.formItem>.itemTitle {
    font-size: .875rem;
    padding-bottom: .375rem;
}

.partnerLogin>.loginBtn {
    display: inline-block;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 2rem;
    border: 1px solid #b39fff;
    background-color: #b39fff;
}

/* -----------partner个人中心------------- */
.partnerCenter .basic {
    height: 7.5rem;
    position: relative;
    padding: 1.875rem 1.25rem 0rem;
    background-color: #e7e7e7;
}

.partnerCenter .basic .personText {
    margin-bottom: .5rem;
    padding-top: 12px;
}

.partnerCenter .basic .personText>.name {
    font-size: 1.125rem;
    font-weight: 700;
}

.partnerCenter .basic .personIcon {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    overflow: hidden;
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
}

.partnerCenter .basic .personIcon>img {
    width: 100%;
    height: 100%;
}

.partnerCenter .order {
    font-size: 0px;
    padding: 1.875rem 1.25rem;
}

.partnerCenter .order>.title,
.partnerCenter .answer>.title {
    font-size: 1.125rem;
    padding-bottom: .5rem;
} 

.partnerCenter .order>.orderRecord,
.partnerCenter .answer>.module {
    width: 48%;
    height: 6.25rem;
    border: 1px solid #e7e7e7;
    border-radius: .625rem;
    padding-left: 1.25rem;
    box-sizing: border-box;
}

.partnerCenter .order>.orderRecord>.amount {
    padding-top: 1.25rem;
}

.partnerCenter .answer {
    height: 8.75rem;
    padding: 0rem 1.25rem;
    padding-top: .5rem;
}

.partnerCenter .answer>.module {
    padding-left: 0rem;
    height: 7.25rem;
    text-align: center;
}

.partnerCenter .answer .flag {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 3.75rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    margin-top: .5rem;
    border: 1px solid #e7e7e7;
}

.partnerCenter .answer>.board>.flag {

}

.partnerCenter .answer>.professor>.flag {
    
}