/* -----------partner入口页面------------- */
.partnerContainer {
    padding: 1.25rem;
}

.partnerContainer .slogan {
    font-size: 2rem;
    color: #2D73EE;
    text-align: center;
    font-weight: 700;
    margin: 60px  0rem 60px;
}

.partnerContainer .partner_bg {
    margin-top: 15%;
}

.partnerContainer .partner_bg>img {
    width: 100%;
}

.partnerContainer .partnerBtn .operateBtn {
    width: 45%;
    height: 3.5rem;
    color: #2D73EE;
    font-size: 1.5rem;
    text-align: center;
    line-height: 3.5rem;
    border-radius: 2rem;
    border: 1px solid #2D73EE;
}

.partnerContainer .partnerBtn .loginBtn {
    color: #fff;
    background-color: #2D73EE;
}

/* -----------partner注册页面------------- */
.partnerRegist>.contentBox>.baseInfo>.formItem>.addText {
    font-size: .75rem;
    color: #999999;
} 

.receiveInfo .getCodeBtn {
    height: 2.625rem;
    width: 7.5rem;
    padding: .375rem 0rem;
    color: #fff;
    background-color: #836FFF;
    position:absolute;
    right:0px;
    bottom:18px;
    border-radius:1.3125rem;
}

.containerInner>.regBtn {
    margin-top: 2.8125rem;   
    margin-bottom: 1.875rem;
    background-color: #836FFF;
}

a.regBtn:active {
    color: #fff !important;
    background-color: #836FFF !important;
}

/* -----------partner登录页面------------- */
.partnerLogin {
    padding: 0rem 1.25rem;
}

.partnerLogin>.title {
    padding: 1.875rem 0rem 1.875rem 1rem;
    font-size: 1.5rem;  
    font-weight: 700;
} 

.partnerLogin .loginForm {
    border-radius: .625rem;
    border: 1px solid #e7e7e7;
    background-color: #fff;
    padding: 2.8125rem 1.25rem;
    margin-bottom: 2.8125rem;
}

.partnerLogin .loginForm>.formItem {
    padding-bottom: .5rem;
    margin-bottom: 12px;
    border-bottom: 1px solid #e7e7e7;
}

.partnerLogin .loginForm>.formItem>.itemTitle {
    font-size: 1.125rem ;
    padding-bottom: .375rem;
}

.partnerLogin>.loginBtn {
    display: inline-block;
    width: 100%;
    height: 3.5rem;
    line-height: 3.5rem;
    text-align: center;
    font-size: 1.5rem;
    color: #fff;
    border-radius: 2rem;
    border: 1px solid #836FFF;
    background-color: #836FFF;
}

.partnerLogin>.loginForm .formItem .getCodeBtn {
    height: 2.625rem;
    width: 7.5rem;
    padding: .375rem 0rem;
    color: #fff;
    background-color: #836FFF;
    position:absolute;
    right:0px;
    bottom:8px;
    border-radius:21px;
}
/* -----------partner个人中心------------- */
.partnerCenter .contentBox {
    padding: 1.875rem 1.25rem;
}

.partnerCenter .contentBox>.component {
    padding: 1.25rem 0rem;
    border: 1px solid #e7e7e7;
    margin-top: 1.875rem;
}

.partnerCenter .contentBox>.component>.title {
    text-align: center;
    padding-bottom: .75rem;
    border-bottom: 1px solid #e7e7e7;
}

.partnerCenter .contentBox>.component>.title>img {
    width: 2rem;
    vertical-align: middle;
}

.partnerCenter .contentBox>.component>.title>.text {
    vertical-align: middle;
    font-size: 1.125rem;
    font-weight: 700;
    padding-left: .375rem;
}

.partnerCenter .component>.content>a {
    width: 50%;
    height: 5rem;
    text-align: center;
    padding-top: 1.25rem;
}

.partnerCenter .component>.content>a>.flagIcon {
    display: block;
    margin: 0 auto;
    width: 2rem;
    margin-bottom: .5rem;
}

.partnerCenter .component>.content>a>.other {
    display: block;
    margin-bottom: .375rem;
}

.partnerCenter .component>.content>a>.amount {
    color: red;
    font-size: 1.5rem;
    line-height: 2rem;
}

.partnerCenter .component>.content>a>.text {
    font-size: 16px;
    color: #000000;
}

.partnerCenter .basic {
    height: 7.5rem;
    position: relative;
    padding: 1.875rem 1.25rem;
    background-color: #e7e7e7;
}

.partnerCenter .basic .personText {
    margin-bottom: .5rem;
    padding-top: 12px;
}

.partnerCenter .basic .personText>.name {
    font-size: 1.125rem;
    font-weight: 700;
}

.partnerCenter .basic>.company {
    vertical-align: middle;
}

.partnerCenter .basic>.company>img {
    width: 1.875rem;
    vertical-align: middle;
}

.partnerCenter .basic>.company>companyName {
    vertical-align: middle;
}

.partnerCenter .basic .personIcon {
    width: 5rem;
    height: 5rem;
    border-radius: 5rem;
    overflow: hidden;
    position: absolute;
    top: 1.75rem;
    right: 1.75rem;
}

.partnerCenter .basic .personIcon>img {
    width: 100%;
    height: 100%;
}

.partnerCenter .order {
    font-size: 0px;
}

.partnerCenter .order>.title,
.partnerCenter .answer>.title {
    font-size: 1.125rem;
    padding-bottom: .5rem;
} 

.partnerCenter .order>.orderRecord,
.partnerCenter .answer>.module {
    width: 48%;
    height: 6.25rem;
    border: 1px solid #e7e7e7;
    border-radius: .625rem;
    padding-left: 1.25rem;
    box-sizing: border-box;
    position: relative;
}

.partnerCenter .order>.orderRecord>.amount {
    padding-top: 1.25rem;
}

.partnerCenter .order>.orderRecord>.orderFlag {
    width: 5rem;
    vertical-align: middle;
    position: absolute;
    top: .75rem;
    right: .75rem;
}

.partnerCenter .answer {
    height: 8.75rem;
    padding: 0rem 1.25rem;
    padding-top: .5rem;
}

.partnerCenter .answer>.module {
    padding-left: 0rem;
    height: 7.25rem;
    color: #000000;
    text-align: center;
}

.partnerCenter .answer .flag {
    width: 3.75rem;
    height: 3.75rem;
    border-radius: 3.75rem;
    margin: 0 auto;
    margin-bottom: .5rem;
    margin-top: .5rem;
    border: 1px solid #e7e7e7;
} 

.partnerCenter .more {
    display: block;
    height:3.75rem;
    text-align: center;
    line-height: 3.75rem;
    border: 1px solid #b39fff;
    border-radius: 3.75rem; ; 
    margin-top: 3.75rem;
    margin-left: 1.25rem;
    margin-right: 20px ;
}