<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银行开户</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="bankFormContainer sealContainer">
        <div class="headerBar"></div>
        <div class="contentBox">
            <div class="upBox">
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;办理区域</p>
                    <ul class="selectZoom checkZoom">
                        <li class="checkedItem">罗湖区</li>
                        <li>南山区</li>
                        <li>宝安区</li>
                        <li>福田区</li>
                        <li>龙华区</li>
                        <li>龙岗区</li>
                        <li>光明区</li>
                        <li>坪山区</li>
                        <li>大鹏新区</li>
                    </ul>
                </div>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;开户银行</p>
                    <ul class="selectZoom checkZoom">
                        <li class="checkedItem">交通银行</li>
                        <li>民生银行</li>
                        <li>中国银行</li>
                        <li>工商银行</li>
                        <li>招商银行</li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;上传资料</p>
                    <div class="uploadBox uploadIcon">
                        <input type="file" class="uploadInput" style="opacity:0;position:absolute;width:13.125rem; height:8.75rem;" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg" style="display:block;margin:0 auto; height:100%;">
                        <p class="typeText">营业执照</p>
                    </div>
                </div>
            </div>
            <div class="downBox">
                <div class="formItem">
                    <p class="labTitle">预约时间备注</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="如需其它服务请备注"></textarea>
                </div>
            </div>
            <div class="downBox remarkText">
                <div class="tipBox">
                    <p class="tipTitle">温馨提示</p>
                    <p class="tipText">一、客户准备资料</p>
                    <p class="tipText">1.公章、财务章、法人私章</p>
                    <p class="tipText">2.营业执照正本原件</p>
                    <p class="tipText">3.法人必须亲自到场拍照</p>            
                    <p class="tipText">4.法人身份证原件，1位网银管理员身份证原件（网银管理员不可以是法人）</p>            
                    <p class="tipText">5.租赁合同（承租人必须是公司或法人，填好之后带去开户行）点击下载模板</p>            
                    <p class="tipText">6.首年免管理费，第二年网银管理费是200元左右</p>
                    <p class="tipText">二、预约时间</p>
                    <p class="tipText">付款后2个工作日内确定预约时间，办理时间一般定在3-5个工作日内；如有时间段特殊要求，请提前与客服沟通说明。若没按预约时间去办理开户，将收取300元违约金。</p>
                    <p class="tipText">三、现场办理耗费时间，约40分钟左右。</p>
                    <p class="tipText">四、银行回执</p>            
                    <p class="tipText">原开户许可证已取消，统一为开户回执，现场或一到两天内发放</p>            
                    <p class="tipText">五、聚服网安排开户时间，客户自行到银行办理。</p>                      
                </div> 
            </div>
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                <!-- 订单金额 : <span class="RMB_flag">￥</span><span class="payAmount">1700.00</span> -->
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="./bank_order.html" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function() {
        $.ajax({
            url: baseUrl+'/api/bankAccount/list',
            type: 'post',
            data: {
                busModId: "5" // 银行开户 
            },
            headers: {
                "X-Jdw-Token": "7pnfyq95g9ugi51pdxuvr453ivnz3x0j"
            },
            success: function(res) {
                console.log(res.code);
            }
        })
    })
</script>