<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>银行开户</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">  
            <div class="orderInfo">
                <p class="title">开户信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">办理区域<span class="colon">:</span></span>
                        <span class="labContent zoom"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">开户银行<span class="colon">:</span></span>
                        <span class="labContent bank"></span>
                    </p>
                    <p class="orderItem isShowItem">
                        <span class="labTitle">法人手机<span class="colon">:</span></span>
                        <span class="labContent legalTel"></span>
                    </p>
                    <p class="orderItem isShowItem legalEmailItem">
                        <span class="labTitle">法人邮箱<span class="colon">:</span></span>
                        <span class="labContent legalEmail"></span>
                    </p>
                    <p class="orderItem isShowItem">
                        <span class="labTitle">网银管理员手机<span class="colon">:</span></span>
                        <span class="labContent adminTel"></span>
                    </p>
                    <p class="orderItem isShowItem adminEmailItem">
                        <span class="labTitle">网银管理员邮箱<span class="colon">:</span></span>
                        <span class="labContent adminEmail"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">预约时间备注<span class="colon">:</span></span>
                        <span class="labContent remarkText"></span>
                    </p>  
                   <div class="orderItem uploadFile">
                       <span class="labTitle">营业执照<span class="colon">:</span></span>
                       <p class="labContent license_img">
                           <img class="showImg" src='' alt="">
                        </p>
                    </div>
                   <div class="orderItem isShowItem legal1Item uploadFile">
                       <span class="labTitle">法人身份证正面<span class="colon">:</span></span>
                       <p class="labContent legal1_img">
                           <img class="showImg" src='' alt="">
                        </p>
                    </div>
                   <div class="orderItem isShowItem legal2Item uploadFile">
                       <span class="labTitle">法人身份证反面<span class="colon">:</span></span>
                       <p class="labContent legal2_img">
                           <img class="showImg" src='' alt="">
                        </p>
                    </div>
                   <div class="orderItem isShowItem admin1Item uploadFile">
                       <span class="labTitle">网银管理员正面<span class="colon">:</span></span>
                       <p class="labContent admin1_img">
                           <img class="showImg" src='' alt="">
                        </p>
                    </div>
                   <div class="orderItem isShowItem admin2Item uploadFile">
                       <span class="labTitle">网银管理员反面<span class="colon">:</span></span>
                       <p class="labContent admin2_img">
                           <img class="showImg" src='' alt="">
                        </p>
                    </div>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p>
                <p class="tipText">一、客户准备资料</p>
                <p class="tipText">1.公章、财务章、法人私章</p>
                <p class="tipText">2.营业执照正本原件</p>
                <p class="tipText">3.法人必须亲自到场拍照</p>
                <p class="tipText">4.法人身份证原件，1位网银管理员身份证原件（网银管理员不可以是法人）</p>
                <p class="tipText">5.租赁合同（承租人必须是公司或法人，填好之后带去开户行）点击下载模板</p>
                <p class="tipText">6.印章网打印客户信息</p>
                <p class="tipText">7.中国银行预收一年账户管理费866元，直接交给银行</p>
                <p class="tipText">8.水电费单据和场地证明（聚雕网提供</p>
                <p class="tipText">二、预约时间</p>
                <p class="tipText">付款后2个工作日内确定预约时间，办理时间一般定在3-5个工作日内；如有时间段特殊要求，请提前与客服沟通说明。若没按预约时间去办理开户，将收取300元违约金。</p>
                <p class="tipText">三、现场办理耗费时间，约40分钟左右。</p>
                <p class="tipText">四、银行回执</p>
                <p class="tipText">原开户许可证已取消，统一为开户回执，现场或一到两天内发放</p>
                <p class="tipText">五、网银激活: </p>
                <p class="tipText">存款1万元激活网银，网银激活可转走</p>
                <p class="tipText">六、聚雕网安排开户时间，客户自行到银行办理。</p>
            </div>
        </div>
        <div class="paymentBox clearfix">
            <span class="fl payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
            </span>
            <a href="javascript:void(0)" class="fr paymentBtn">微信支付</a>
        </div>
    </div>
</body>
</html>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js?v=1.0"></script>
<script>
    $(function(){
        var orderInfoData= JSON.parse(sessionStorage.getItem('bankFormMes'));
        // console.log(orderInfoData);
        var orderId= sessionStorage.getItem('orderId');
        var targetUrl= 'http://judiaowang.cn/app/view/bank_form.html';
        $('.paymentBox .payAmount').text(orderInfoData.orderAmount);
        $('.orderItem .bank').text(orderInfoData.bankText);
        $('.orderItem .companyName').text(orderInfoData.companyName);
        $('.orderItem .zoom').text(orderInfoData.zoomText);
        $('.orderItem .remarkText').text(orderInfoData.subTimeNote);
        $('.orderItem>.license_img>.showImg').attr('src',orderInfoData.busLicense); 
        if(orderInfoData.bankText == "交通银行" || orderInfoData.bankText == "中信银行") {
            $('.isShowItem').css('display', 'inline-block');
            $('.orderItem .legalTel').text(orderInfoData.legalPhone);
            $('.orderItem .legalEmail').text(orderInfoData.legalEmail);
            $('.orderItem .adminTel').text(orderInfoData.netSilverPhone);
            $('.orderItem .adminEmail').text(orderInfoData.netSilverEmail);       
            $('.orderItem .legal1_img .showImg').attr('src',orderInfoData.legalCardFront);
            $('.orderItem .legal2_img .showImg').attr('src',orderInfoData.legalCardBack);
            $('.orderItem .admin1_img .showImg').attr('src',orderInfoData.netSilverCardFront);
            $('.orderItem .admin2_img .showImg').attr('src',orderInfoData.netSilverCardBack);
        }else if(orderInfoData.bankText == "民生银行" || orderInfoData.bankText == "中国银行" || orderInfoData.bankText == "工商银行" || orderInfoData.bankText == "招商银行"  || orderInfoData.bankText == "浦发银行") {
            $('.isShowItem').css('display','none');                   
        }else if(orderInfoData.bankText == "建设银行" || orderInfoData.bankText == "农业银行") {
            $('.isShowItem').css('display','none');                
            $('.orderItem .legal1Item').css('display','block');
            $('.orderItem .legal2Item').css('display','block');
            $('.orderItem .legal1_img .showImg').attr('src',orderInfoData.legalCardFront);
            $('.orderItem .legal2_img .showImg').attr('src',orderInfoData.legalCardBack);

        }else if(orderInfoData.bankText == "光大银行") {
            $('.isShowItem').css('display','block');                
            $('.orderInfo .adminEmailItem').css('display','none');
            $('.orderInfo .adminEmailItem').css('display','none');
            $('.orderItem isShowItem').css('display', 'block');
            $('.orderItem .legalTel').text(orderInfoData.legalPhone);
            $('.orderItem .adminTel').text(orderInfoData.netSilverPhone);       
            $('.orderItem .legal1_img .showImg').attr('src',orderInfoData.legalCardFront);
            $('.orderItem .legal2_img .showImg').attr('src',orderInfoData.legalCardBack);
            $('.orderItem .admin1_img .showImg').attr('src',orderInfoData.netSilverCardFront);
            $('.orderItem .admin2_img .showImg').attr('src',orderInfoData.netSilverCardBack);
        }

        $('.paymentBox .paymentBtn').on('click',function(){
            weChatPay(orderId,targetUrl);
        })
    })
</script>