<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注销代跑</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="logoutContainer containerInner" id="closeBox">
        <div class="formItem">
            <p class="title"><span class="isRequired">*</span>&nbsp;注销公司 : <span class="addText">( 全称 )</span></p>
            <div class="content companyNameBox">
                <input class="companyNameText" type="text" placeholder="请输入公司名称">
            </div>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/template-web.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){
        $.ajax({
            url: baseUrl+'/api/cancelProxy/list',
            type: 'post',
            headers: {
                "X-Jdw-Token": JSON.parse(localStorage.getItem('loginData')).token
            },
            data: {
                busModId: "2",// 注销代跑
                cityId: JSON.parse(localStorage.getItem('loginData')).cityId
            },
            success: function(res) {
                if(res.code == 0) {
                    for (let i = 0; i < res.data.goods.length; i++) {
                        var html1= '<div class="formItem">'+
                                            '<p class="title">'+res.data.goods[i].name+'</p>'+
                                            '<div class="content clearfix">'+
                                        '</div>'+
                                    '</div>'   
                        $('#closeBox').append(html1);
                        if(i == res.data.goods.length-1) {
                            for (let j = 0; j < res.data.goods[i].goods.length; j++) {
                                if((j+1) % 2 == 0 ){
                                    var html2 =  '<label for="'+i+j+'" class="right fr optionAbout" goodsId="'+res.data.goods[i].goods[j].id+'">'+
                                                    '<p class="flag">'+
                                                        '<img class="icon" src='+res.data.goods[i].goods[j].imgUrl+' alt="">'+
                                                        '<span class="text">'+res.data.goods[i].goods[j].name+'</span>'+
                                                    '</p>'+
                                                    '<p class="price">'+res.data.goods[i].goods[j].marketPrice+'</p>'+
                                                    '<input class="selectBtn" type="radio" id="'+i+j+'" name="">'+
                                                '</label>'
                                }else {
                                    var html2 =  '<label for="'+i+j+'" class="left fl optionAbout" goodsId="'+res.data.goods[i].goods[j].id+'">'+
                                                    '<p class="flag">'+
                                                        '<img class="icon" src='+res.data.goods[i].goods[j].imgUrl+' alt="">'+
                                                        '<span class="text">'+res.data.goods[i].goods[j].name+'</span>'+
                                                    '</p>'+
                                                    '<p class="price">'+res.data.goods[i].goods[j].marketPrice+'</p>'+
                                                    '<input class="selectBtn" type="radio" id="i'+i+j+'" name="">'+
                                                '</label>'
                                }                        
                                $($('#closeBox .formItem')[i+1]).find('.content').append(html2);
                            }
                        }else {
                            for (let j = 0; j < res.data.goods[i].goods.length; j++) {
                                if((j+1) % 2 == 0 ){
                                    var html2 =  '<label for="'+i+j+'" class="right fr optionAbout" goodsId="'+res.data.goods[i].goods[j].id+'">'+
                                                    '<p class="flag">'+
                                                        '<img class="icon" src='+res.data.goods[i].goods[j].imgUrl+' alt="">'+
                                                        '<span class="text">'+res.data.goods[i].goods[j].name+'</span>'+
                                                    '</p>'+
                                                    '<p class="price">'+res.data.goods[i].goods[j].marketPrice+'</p>'+
                                                    '<input class="selectBtn" type="radio" id="'+i+j+'" name="part'+res.data.goods[i].id+'">'+
                                                '</label>'
                                }else {
                                    var html2 =  '<label for="'+i+j+'" class="left fl optionAbout" goodsId="'+res.data.goods[i].goods[j].id+'">'+
                                                    '<p class="flag">'+
                                                        '<img class="icon" src='+res.data.goods[i].goods[j].imgUrl+' alt="">'+
                                                        '<span class="text">'+res.data.goods[i].goods[j].name+'</span>'+
                                                    '</p>'+
                                                    '<p class="price">'+res.data.goods[i].goods[j].marketPrice+'</p>'+
                                                    '<input class="selectBtn" type="radio" id="i'+i+j+'" name="part'+res.data.goods[i].id+'">'+
                                                '</label>'
                                }                        
                                $($('#closeBox .formItem')[i+1]).find('.content').append(html2);
                            }                     
                        }
                    }
                    var customHtml= '<div class="customInfo">'+
                                        '<p class="title">咨询方式</p>'+
                                        '<div class="formItem clearfix">'+
                                            '<img src="../img/userIcon03.jpg" alt="" class="customIcon fl">'+
                                            '<p class="customBox fl">'+
                                                '<span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>'+
                                                '<span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>'+
                                            '</p>'+
                                        '</div>'+
                                        '<div class="formItem clearfix">'+
                                            '<img src="../img/site.jpg" alt="" class="customIcon fl">'+
                                            '<p class="customBox fl">'+
                                                '<span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>'+
                                                '<span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>'+
                                            '</p>'+
                                        '</div>'+
                                    '</div>'
                    var payBtn= '<a href="javascript:void(0)" style="margin-bottom:0px" class="weui_btn weui_btn_primary nextBtn">下一步</a>';
                    $('#closeBox').append(customHtml) ;
                    $('#closeBox').append(payBtn) ;              
                }else if(res.code == 666) {
                    layer.msg(res.msg,function(){
                        window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                        return false;
                    })
                }else {
                    layer.msg(res.msg);
                }
            }
        })

        $('#closeBox').on('touchend','.nextBtn',function(e){
            var companyName = $('.companyNameText').val();
            var orderUrl= baseUrl+'/api/cancelProxy/createOrder';
            var targetUrl= 'http://judiaowang.cn/app/view/closeCompany_order.html';
            // var targetUrl= './closeCompany_order.html';
            var checkItem=[];
            var goodsIds= []; 
            var checkItemList = $('.formItem>.content input:checked').parent();
            for (let i = 0; i < checkItemList.length; i++) {
                var checkItemInfo = {
                    'icon': $(checkItemList[i]).find('p.flag img').attr('src'),
                    'title': $(checkItemList[i]).find('p.flag .text').text(),
                    'price': $(checkItemList[i]).find('p.price').text(),
                }
                var goodsId= $(checkItemList[i]).attr('goodsId');
                checkItem.push(checkItemInfo);
                goodsIds.push(goodsId);
            }
            var orderInfo = {};
            var orderInfoData= {}
            orderInfo = {
                'busModId': '2',
                'cityId': JSON.parse(localStorage.getItem('loginData')).cityId,
                'companyName': companyName,
                'goodsIds': goodsIds
                
            };
            orderInfo= JSON.stringify(orderInfo);
            orderInfoData= {
                'companyName': companyName,
                'checkItem': checkItem, 
            }
            sessionStorage.setItem("closeFormMes", JSON.stringify(orderInfoData));
            createOrder(orderUrl,'post',orderInfo,targetUrl)
            e.preventDefault();
        })
    })
</script>