<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="companyFormContainer commonBox">
        <div class="formItem">
            <p class="title"><span style="color:#CD0000">*</span>&nbsp;注销公司 : <span class="text">( 全称 )</span></p>
            <div class="content companyNameBox">
                <input class="companyNameText" type="text" placeholder="请输入公司名称">
            </div>
        </div>
        <div class="formItem partOne">
            <p class="title">纳税人企业类型</p>
            <div class="content clearfix">
                <label for="partOne_Left" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part1_left_icon.png" alt="">
                        <span class="text">小规模</span>
                    </p>
                    <!-- <p class="price">800.00</p> -->
                    <input class="selectBtn" type="radio" id="partOne_Left" name="partOne">
                </label>
                <label for="partOne_Right" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part1_right_icon.png" alt="">
                        <span class="text">一般纳税人</span>
                    </p>
                    <!-- <p class="price">￥1300.00</p> -->
                    <input class="selectBtn" type="radio" id="partOne_Right" name="partOne">
                </label>
            </div>
        </div>
        <div class="formItem partTwo">
            <p class="title">工商状况</p>
            <div class="content clearfix">
                <label for="partTwo_Left" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part2_left_icon.png" alt="">
                        <span class="text">开业</span>
                    </p>
                    <!-- <p class="price">￥0</p> -->
                    <input class="selectBtn" type="radio" id="partTwo_Left" name="partTwo">
                </label>
                <label for="partTwo_Right" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part2_right_icon.png" alt="">
                        <span class="text">已吊销</span>
                    </p>
                    <!-- <p class="price">￥1500.00</p> -->
                    <input class="selectBtn" type="radio" id="partTwo_Right" name="partTwo">
                </label>
            </div>
        </div>
        <div class="formItem partThree">
            <p class="title">税务状况</p>
            <div class="content clearfix">
                <label for="partThree_Left" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part3_left_icon.png" alt="">
                        <span class="text">税务正常</span>
                    </p>
                    <!-- <p class="price">￥0</p> -->
                    <input class="selectBtn" type="radio" id="partThree_Left" name="partThree">
                </label>
                <label for="partThree_Right" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part3_right_icon.png" alt="">
                        <span class="text">税务异常</span>
                    </p>
                    <!-- <p class="price">￥400.00</p> -->
                    <input class="selectBtn" type="radio" id="partThree_Right" name="partThree">
                </label>
            </div>
        </div>
        <div class="formItem partFour">
            <p class="title">纳税申报状况</p>
            <div class="content clearfix">
                <label for="partFour_Left" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part4_left_icon.png" alt="">
                        <span class="text">无逾期漏报</span>
                    </p>
                    <!-- <p class="price">￥0</p> -->
                    <input class="selectBtn" type="radio" id="partFour_Left" name="partFour">
                </label>
                <label for="partFour_Right" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part4_right_icon.png" alt="">
                        <span class="text">有逾期漏报</span>
                    </p>
                    <!-- <p class="price">￥300.00</p> -->
                    <input class="selectBtn" type="radio" id="partFour_Right" name="partFour">
                </label>
            </div>
        </div>
        <div class="formItem partFive">
            <p class="title">清算组备案</p>
            <div class="content clearfix">
                <label for="partFive_Left" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part5_left_icon.png" alt="">
                        <span class="text">有U盾网上备案</span>
                    </p>
                    <!-- <p class="price">￥0</p> -->
                    <input class="selectBtn" type="radio" id="partFive_Left" name="partFive">
                </label>
                <label for="partFive_Right" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/part5_right_icon.png" alt="">
                        <span class="text">无U盾纸质备案</span>
                    </p>
                    <!-- <p class="price">￥500.00</p> -->
                    <input class="selectBtn" type="radio" id="partFive_Right" name="partFive">
                </label>
            </div>
        </div>
        <div class="formItem partOther">
            <p class="title">其它</p>
            <div class="content clearfix">
                <label for="partOther1" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other1_icon.png" alt="">
                        <span class="text">注销登报</span>
                    </p>
                    <!-- <p class="price">￥150</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther1">
                </label>
                <label for="partOther2" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other2_icon.png" alt="">
                        <span class="text">注销发票、税盘</span> 
                    </p>
                    <!-- <p class="price">￥300.00</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther2">
                </label>
                <label for="partOther3" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other3_icon.png" alt="">
                        <span class="text">注销社保</span>
                    </p>
                    <!-- <p class="price">￥300</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther3">
                </label>
                <label for="partOther4" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other4_icon.png" alt="">
                        <span class="text">注销银行</span> 
                    </p>
                    <!-- <p class="price">￥300.00</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther4">
                </label>
                <label for="partOther5" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other5_icon.png" alt="">
                        <span class="text">注销资质</span>
                    </p>
                    <!-- <p class="price">￥500</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther5">
                </label>
                <label for="partOther6" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other6_icon.png" alt="">
                        <span class="text">注销进出口权</span> 
                    </p>
                    <!-- <p class="price">￥500.00</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther6">
                </label>
                <label for="partOther7" class="left fl optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other7_icon.png" alt="">
                        <span class="text">注销外资及批文</span>
                    </p>
                    <!-- <p class="price">￥500</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther7">
                </label>
                <label for="partOther8" class="right fr optionAbout">
                    <p class="flag">
                        <img class="icon" src="../img/other8_icon.png" alt="">
                        <span class="text">有出口退税业务</span> 
                    </p>
                    <!-- <p class="price">￥500.00</p> -->
                    <input class="selectBtn" type="checkbox" id="partOther8">
                </label>
                <label for="partOther_self" class="left fl optionAbout partOther_self">
                    <p class="flag">
                        <img class="icon" src="../img/self_icon.png" alt="">
                        <span class="text">自定义服务</span> 
                    </p>
                    <textarea class="selfText" name="" id="" cols="30" rows="10" placeholder="请跟客服确认后添加自定义服务"></textarea>
                    <input class="selectBtn" type="checkbox" id="partOther_self">
                </label>
            </div>
        </div>
        <a href="javascript:void(0)" class="weui_btn weui_btn_primary nextBtn">下一步</a>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        // var isLogin= localStorage.getItem('token');
        // $.ajax({
        //     url: baseUrl+'/api/cancelProxy/goodsList',
        //     type: 'post',
        //     data:
        // })

        $('.nextBtn').on('touchend',function(e){
            var companyName = $('.companyNameText').val();
            var checkItem=[]; 
            var checkItemList = $('.formItem>.content input:checked').parent();
            for (let i = 0; i < checkItemList.length; i++) {
                var checkItemInfo = {
                    'icon': $(checkItemList[i]).find('p.flag img').attr('src'),
                    'title': $(checkItemList[i]).find('p.flag .text').text(),
                    'price': $(checkItemList[i]).find('p.price').text(),
                }
                checkItem.push(checkItemInfo);
            }
            var orderInfo = {};
            orderInfo = {
                'companyName': companyName,
                'checkItem': checkItem,
            };
            // console.log(orderInfo);
            sessionStorage.setItem("closeFormMes", JSON.stringify(orderInfo));

            window.location.href = "./closeCompany_order.html"

            e.preventDefault();
        })
    })
</script>