<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/regist.css">
</head>
<style>
    html {
        height: 100%;
    }

    body {
        width: 100%;
        height: 100%;
        background: url('../img/dev.png') no-repeat center center;
        background-size: cover;
    }
  </style>
 <body>
</body>
</html>

