<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>教育资质</title>
    <link rel="stylesheet" href="../css/weui.min.css">    
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="lawContainer containerOut">
        <div class="containerInner educationInner">
            <div class="tipBox">
                <p class="tipTitle">教育办学许可证办理条件</p><br>
                <p class="tipText">1. 法定代表人需开具无犯罪证明</p>
                <p class="tipText">2. 校长需学历证、教师资格证、中级职称证、教学经历5年以上</p>
                <p class="tipText">3. 需5名对应科目教师及教师资格证、学历证</p>
                <p class="tipText">4. 一名会计学历证、资格证</p>
                <p class="tipText">5. 办公设备发票10万以上</p>
                <p class="tipText">6. 房屋竣工验收报告</p>
                <p class="tipText">7. 消防合格证明</p>
                <p class="tipText">8. 环境检测报告</p>
                <p class="tipText">9. 验资报告</p>
                <p class="tipText">10. 租赁合同</p>
                <p class="tipText">11. 现场设备图</p>
            </div>
            <div class="tipBox">
                <p class="tipTitle">其它说明</p><br>
                <p class="tipText">一.办理类型: </p>
                <p class="tipText">中小学课外辅导类; 职业技能培训类; 企业培训类</p><br>
                <p class="tipText">二.服务效率: </p>
                <p class="tipText">专业团队服务 高效快捷 轻松拿证 资料齐全只需39000元,4-6个月可以领证</p>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
