<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>环保备案</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">备案信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>公司所在区域</p>
                    <ul class="zoomList">
                       <li>龙岗区</li>
                       <li>宝安区</li>
                       <li>南山区</li>
                       <li>罗湖区</li>
                       <li>福田区</li>
                       <li>龙华区</li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>上传营业执照</p>
                    <div class="uploadBox">
                        <input type="file" class="uploadInput" accept="image/*" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">营业执照<span class="requiredFlag">*</span></p>
                    </div>
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">一、请提供以下资料的扫描件：</p>
                <p class="tipText">营业执照、法人身份证、内部厂房合同（除宝安区需要红本租赁凭证，合同地址要书写正确）、工艺流程。（后续邮寄公章到聚雕网，客服会提醒安排）</p><br>
                <p class="tipText">二、办理流程：</p>
                <p class="tipText">1、先预约看场地；</p>            
                <p class="tipText">2、出环评报告；</p>            
                <p class="tipText">3、环保局备案批文。</p> <br>   
                <p class="tipText">三、办理时间：</p>                                   
                <p class="tipText">自下单付款起，35个工作日左右。</p>                                   
            </div> 
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){
        $('.paymentBtn').on('click',function(){
            layer.msg('功能调试中...业务办理请联系客服');
        })
    })
</script>