<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>消防批文</title>
    <link rel="stylesheet" href="../css/weui.min.css">    
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="lawContainer containerOut">
        <div class="containerInner educationInner">
            <div class="tipBox">
                <p class="tipTitle">消防资质</p><br>
                <p class="tipText">一. 常见问题</p>
                <p class="tipText">1. 哪些需要办理消防报建及办理资质?</p>
                <p class="tipText">除主体建筑高度50米以下、面积小于50平米的办公场所外,餐厅、食堂、酒吧、娱乐休闲场所、影院、健身房、医院、商场、超市、酒店、幼儿园、图书馆、厂房等公众聚集场所,这些都是消防重点对象</p>
                <p class="tipText">2. 不办理有什么后果?</p>
                <p class="tipText">公众聚集场所未经消防安全检查或者不符合消防安全要求投入使用、营业,会处以3万以上30万以下的罚款,并暂停营业或查封</p><br>
                <p class="tipText">二. 业务承接范围</p>
                <p class="tipText">承接消防图纸设计、消防设计备案、消防报建、消防工程施工</p>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
