<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进出口经营权</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">进出口经营权</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>办理类型</p>
                    <ul class="zoomList" id="handleBox">
                       <!-- 办理类型 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>企业类型</p>
                    <ul class="zoomList" id="companyBox">
                       <!-- 企业类型 -->
                    </ul>
                </div>
                <div class="formItem foreignItem">
                    <p class="labTitle"><span class="isRequired">*</span>外汇备案<span class="addText">(￥500)</span></p>
                    <ul class="zoomList" id="foreignBox">
                       <!-- 外汇备案类型 -->
                    </ul>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/userIcon03.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">1、公司经营范围要有“经营进出口业务”这一项；</p><br>
                <p class="tipText">2、所需资料：营业执照副本、公章、法人身份证复印件、操作员身份证复印件（法人也可以兼做操作员）、公司英文名称、法人手机号码、座机号码、邮箱和传真（如果需要办理外汇备案，除了上述资料，还需法人身份证原件及法人私章）；</p><br>
                <p class="tipText">3、新注册办理下来资料包括：对外贸易经营者备案登记表、海关注册证书及检验检疫备案登记回执、法人卡、操作员卡；</p><br>
                <p class="tipText">4、不包括：生产能力证明、购销合同、核销手册；</p><br>         
                <p class="tipText">5、如果需要刻海关报关章，则需法人身份证原件，且请交代接单跑手刻章，费用自理。</p>                                         
            </div> 
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){

        // 办理类型
        function handleList(res){
            if(res.code == 0) {
                for (var i = 0; i < res.data.goods[0].goods.length; i++) {  
                    if(i == 0) {
                        var handleItem= '<li class="checkedItem zoomItem" retailPrice="'+res.data.goods[0].goods[i].retailPrice+'" marketPrice="'+res.data.goods[0].goods[i].marketPrice+'" goodsId='+res.data.goods[0].goods[i].id+'>'+res.data.goods[0].goods[i].name+'</li>'
                    }else {
                        var handleItem= '<li class="zoomItem" retailPrice="'+res.data.goods[0].goods[i].retailPrice+'" marketPrice="'+res.data.goods[0].goods[i].marketPrice+'" goodsId='+res.data.goods[0].goods[i].id+'>'+res.data.goods[0].goods[i].name+'</li>'
                    }
                    $('#handleBox').append(handleItem);
                }
                $('.payAmount').text($('#handleBox>li.checkedItem').attr('marketPrice'));
            }else if(res.code == 666) {
                layer.msg(res.msg,function(){
                    window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                    return false;
                })
            }else {
                layer.msg(res.msg);
            }
        }

        // 企业类型
        function companyList(res){
            if(res.code == 0) {
                for (var i = 0; i < res.data.goods[1].goods.length; i++) {  
                    if(i == 0) {
                        var companyItem= '<li class="checkedItem acreageItem" retailPrice="'+res.data.goods[1].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[1].goods[i].marketPrice+'"  goodsId="'+res.data.goods[1].goods[i].id+'">'+res.data.goods[1].goods[i].name+'</li>'
                    }else {
                        var companyItem= '<li class="acreageItem" retailPrice="'+res.data.goods[1].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[1].goods[i].marketPrice+'"  goodsId="'+res.data.goods[1].goods[i].id+'">'+res.data.goods[1].goods[i].name+'</li>'
                    }
                    $('#companyBox').append(companyItem);
                }
            }else if(res.code == 666) {
                layer.msg(res.msg,function(){
                    window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                    return false;
                })
            }else {
                layer.msg(res.msg);
            }
        }

        // 外汇备案
        function foreignList(res){
            if(res.code == 0) {
                for (var i = 0; i < res.data.goods[2].goods.length; i++) {  
                    if(i == 0) {
                        var foreignItem= '<li class="checkedItem acreageItem" retailPrice="'+res.data.goods[2].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[2].goods[i].marketPrice+'"  goodsId="'+res.data.goods[2].goods[i].id+'">'+res.data.goods[2].goods[i].name+'</li>'
                    }else {
                        var foreignItem= '<li class="acreageItem" retailPrice="'+res.data.goods[2].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[2].goods[i].marketPrice+'"  goodsId="'+res.data.goods[2].goods[i].id+'">'+res.data.goods[2].goods[i].name+'</li>'
                    }
                    $('#foreignBox').append(foreignItem);
                }
            }else if(res.code == 666) {
                layer.msg(res.msg,function(){
                    window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                    return false;
                })
            }else {
                layer.msg(res.msg);
            }
        }

      
        function callback_list(res){
            handleList(res);
            companyList(res);
            foreignList(res);
        }
        var url_list= baseUrl+'/api/importExport/list';
        var url_order= baseUrl+'/api/importExport/createOrder';
        var type_list= 'post';
        var type_order= 'post';
        var targetUrl= 'http://judiaowang.cn/app/view/foreignTrade_order.html'
        var targetUrl= './foreignTrade_order.html'
        var parameters_list= {
            busModId: "14",// 进出口经营
            cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
        }
        getFormData(url_list,type_list,parameters_list,callback_list);


        $('#handleBox').on('click','.zoomItem',function(){
            var textType= $(this).text();
            var price= $(this).attr('marketPrice')
            $('.payAmount').text(price);
            if(textType == "变更") {
                $('.foreignItem').css('display','none');
            }else if(textType == "注册") {
                $('.foreignItem').css('display','block');
            }
        })

        $('#companyBox').on('click','.acreageItem',function(){
            var textType= $(this).text();
            var price= $(this).attr('marketPrice')
            $('.payAmount').text(price);
            
        })
        $('#foreignBox').on('click','.acreageItem',function(){
            var textType= $(this).text();
            var price= $(this).attr('marketPrice')
            $('.payAmount').text(price);
            if(textType == "变更") {
                $('.foreignItem').css('display','none');
            }else if(textType == "注册") {
                $('.foreignItem').css('display','block');
            }
        })

        $('.paymentBtn').on('click',function(){
            var orderInfo= {};
            var orderInfoData= {};
            var goodsList= [];
            var handleGoodsId= $('#handleBox>li.checkedItem').attr('goodsId');
            var companyGoodsId= $('#companyBox>li.checkedItem').attr('goodsId');
            var foreignGoodsId= $('#foreignBox>li.checkedItem').attr('goodsId');
            var handleGoodsText= $('#handleBox>li.checkedItem').text();
            var companyGoodsText= $('#companyBox>li.checkedItem').text();
            var foreignGoodsText= $('#foreignBox>li.checkedItem').text();
            var isForeign= $('.foreignItem').css('display');
            if(isForeign == "block") {
                goodsList= [handleGoodsId,companyGoodsId,foreignGoodsId];
            }else if(isForeign == "none") {
                goodsList= [handleGoodsId,companyGoodsId];
            } 
            var receiverName= $('.receiveInfo>.formItem>.receiverName').val();  // 收件姓名 (必填)
            var receiverTel= $('.receiveInfo>.formItem>.receiverTel').val();  // 收件联系方式 
            var receiverAdd= $('.receiveInfo>.formItem>.receiverAdd').val();  // 收件地址 (必填) 
            var companyName= $('.formItem>.companyName').val();
            orderInfo= {
                "address": receiverAdd,
                "busModId": '14',
                "cityId": JSON.parse(localStorage.getItem('loginData')).cityId,
                "companyName": companyName,
                "consignee": receiverName,
                "goodsIds": goodsList,
                "phone": receiverTel
            }
            orderInfoData= {
                "companyName": companyName,
                "handleGoodsText": handleGoodsText,
                "companyGoodsText": companyGoodsText,
                "foreignGoodsText": foreignGoodsText,
                "receiverName": receiverName, 
                "receiverTel": receiverTel, 
                "receiverAdd": receiverAdd
            }

            orderInfo= JSON.stringify(orderInfo);
            orderInfoData= JSON.stringify(orderInfoData);
            sessionStorage.setItem('foreign_orderInfo',orderInfoData)
            createOrder(url_order,type_order,orderInfo,targetUrl)
        })
    })
</script>