<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>进出口经营权</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">进出口经营权</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>办理类型</p>
                    <ul class="zoomList">
                       <li>注册</li>
                       <li>变更</li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>企业类型</p>
                    <ul class="zoomList">
                       <li>内资</li>
                       <li>外资</li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>外汇备案<span class="addText">(￥500)</span></p>
                    <ul class="zoomList">
                       <li>不需要</li>
                       <li>需要</li>
                    </ul>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">1、公司经营范围要有“经营进出口业务”这一项；</p><br>
                <p class="tipText">2、所需资料：营业执照副本、公章、法人身份证复印件、操作员身份证复印件（法人也可以兼做操作员）、公司英文名称、法人手机号码、座机号码、邮箱和传真（如果需要办理外汇备案，除了上述资料，还需法人身份证原件及法人私章）；</p><br>
                <p class="tipText">3、新注册办理下来资料包括：对外贸易经营者备案登记表、海关注册证书及检验检疫备案登记回执、法人卡、操作员卡；</p><br>
                <p class="tipText">4、不包括：生产能力证明、购销合同、核销手册；</p><br>         
                <p class="tipText">5、如果需要刻海关报关章，则需法人身份证原件，且请交代接单跑手刻章，费用自理。</p>                                         
            </div> 
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){
        $('.paymentBtn').on('click',function(){
            layer.msg('功能调试中...业务办理请联系客服');
        })
    })
</script>