<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>香港公司变更</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="pinchContainer containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">变更信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>公司名称<span class="addText">(英文)</span> </p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司英文名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>变更项目</p>
                    <div class="content clearfix" id="goodsList">
                        <label for="1" class="left fl optionAbout">
                            <p class="flag">
                                <span class="text">董事和股东变更</span>
                            </p>
                            <p class="price">￥280</p>
                            <input class="selectBtn" type="radio" id="1">
                        </label>
                        <label for="2" class="right fr optionAbout">
                            <p class="flag">
                                <span class="text">公司名称变更</span>
                            </p>
                            <p class="price">￥800</p>
                            <input class="selectBtn" type="radio" id="2">
                        </label>
                        <label for="3" class="left fl optionAbout">
                            <p class="flag">
                                <span class="text">公司地址及秘书变更</span>
                            </p>
                            <p class="price">￥280</p>
                            <input class="selectBtn" type="radio" id="3">
                        </label>
                        <label for="4" class="right fr optionAbout">
                            <p class="flag">
                                <span class="text">经营范围变更</span>
                            </p>
                            <p class="price">￥200</p>
                            <input class="selectBtn" type="radio" id="4">
                        </label>
                        <label for="5" class="left fl optionAbout">
                            <p class="flag">
                                <span class="text">公司地址及秘书变更</span>
                            </p>
                            <p class="price">￥500</p>
                            <input class="selectBtn" type="radio" id="5">
                        </label>
                    </div>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="customInfo">
                    <p class="title">咨询方式</p>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                        </p>
                    </div>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                        </p>
                    </div>
                </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">请把以下资料电子档发送到客服邮箱：kf@judiaowang.com</p>
                <p class="tipText">1、法团成立表（NNC1）或者最新的周年申报表（NAR1）；</p>
                <p class="tipText">2、如有变更提供变更文件；</p>
                <p class="tipText">3、填写尽职调查表；</p>
                <p class="tipText">4、新董事/股东最近三个月的住址证明（如：水电费单据、租赁合同、房产证、银行月结单、话费单）；</p>
                <p class="tipText">5、新股东股份比例（单独变更董事不用提供）；</p>
                <p class="tipText">6、变更股权金额超过1W港币，加收千分之二的厘印税（政府收取费用）。</p>
            </div>
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="./dev.html" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
