<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>香港商标注册</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="pinchContainer containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">注册信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>商标名称</p>
                    <input class="placeholderText name" type="text" placeholder="请填写申请的商标名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>姓名<span class="addText">英文</span></p>
                    <input class="placeholderText name" type="text" placeholder="请填写身份证名字的拼音">
                </div>
            </div>
            <div class="customInfo">
                    <p class="title">咨询方式</p>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                        </p>
                    </div>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                        </p>
                    </div>
                </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">一、商标查册费用800元，香港政府收取。</p><br>
                <p class="tipText">二、所需资料：</p>
                <p class="tipText">1、申请人英文名称及地址；</p>
                <p class="tipText">2、申请商品项目；</p>
                <p class="tipText">3、商标图样；</p>
                <p class="tipText">4、委托书；</p>
                <p class="tipText">5、申请人身份证明复印件；</p>
                <p class="tipText">6、商标注册申请书（联系客服索取填写）。</p><br>
                <p class="tipText">三、办理时间：约4~6个月。</p><br>
                <p class="tipText">四、香港商标有效期：10年，可续期。</p>
            </div>
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){
        $('.paymentBtn').on('click',function(){
            layer.msg('功能调试中...业务办理请联系客服');
        })
    })
</script>