<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单支付</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="orderInfo">
                <p class="title">注册信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">商标名称<span class="colon">:</span></span>
                        <span class="labContent companyName"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">姓名<span class="colon">:</span></span>
                        <span class="labContent bank"></span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">一、商标查册费用800元，香港政府收取。</p><br>
                <p class="tipText">二、所需资料：</p>
                <p class="tipText">1、申请人英文名称及地址；</p>
                <p class="tipText">2、申请商品项目；</p>
                <p class="tipText">3、商标图样；</p>
                <p class="tipText">4、委托书；</p>
                <p class="tipText">5、申请人身份证明复印件；</p>
                <p class="tipText">6、商标注册申请书（联系客服索取填写）。</p><br>
                <p class="tipText">三、办理时间：约4~6个月。</p><br>
                <p class="tipText">四、香港商标有效期：10年，可续期。</p>
            </div>
        </div>
        <div class="paymentBox clearfix">
            <span class="fl payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
            </span>
            <a href="javascript:void(0)" class="fr paymentBtn">微信支付</a>
        </div>
</body>

</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js?v=1.0"></script>


