<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人香港开户</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="pinchContainer containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">开户信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>姓名</p>
                    <input class="placeholderText name" type="text" placeholder="请输入姓名">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>开户银行<span class="addText">(仅限选一家银行开户)</span> </p>
                    <div class="content clearfix" id="goodsList">
                        <label for="1" class="left fl optionAbout">
                            <p class="flag">
                                <span class="text">汇丰银行</span>
                            </p>
                            <p class="price">￥3000</p>
                            <input class="selectBtn" type="radio" id="1">
                        </label>
                        <label for="2" class="right fr optionAbout">
                            <p class="flag">
                                <span class="text">渣打银行</span>
                            </p>
                            <p class="price">￥3000</p>
                            <input class="selectBtn" type="radio" id="2">
                        </label>
                        <label for="3" class="left fl optionAbout">
                            <p class="flag">
                                <span class="text">恒生银行</span>
                            </p>
                            <p class="price">￥2000</p>
                            <input class="selectBtn" type="radio" id="3">
                        </label>
                        <label for="4" class="right fr optionAbout">
                            <p class="flag">
                                <span class="text">中国银行</span>
                            </p>
                            <p class="price">￥2500</p>
                            <input class="selectBtn" type="radio" id="4">
                        </label>
                        <label for="5" class="left fl optionAbout">
                            <p class="flag">
                                <span class="text">花旗银行</span>
                            </p>
                            <p class="price">￥3000</p>
                            <input class="selectBtn" type="radio" id="5">
                        </label>
                        <label for="6" class="right fr optionAbout">
                            <p class="flag">
                                <span class="text">星展银行</span>
                            </p>
                            <p class="price">￥3000</p>
                            <input class="selectBtn" type="radio" id="6">
                        </label>
                        <label for="7" class="left fl optionAbout">
                            <p class="flag">
                                <span class="text">华侨永享银行</span>
                            </p>
                            <p class="price">￥3000</p>
                            <input class="selectBtn" type="radio" id="7">
                        </label>
                    </div>
                </div>
            </div>
            <div class="customInfo">
                    <p class="title">咨询方式</p>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                        </p>
                    </div>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                        </p>
                    </div>
                </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">1、无需理财</p>
                <p class="tipText">2、带身份证，通行证，凭当日入境小票办理；</p>
                <p class="tipText">3、在3个工作日办结。</p>
            </div>
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="./dev.html" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
