<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单支付</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="orderInfo">
                <p class="title">开户信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">开户银行<span class="colon">:</span></span>
                        <span class="labContent bank"></span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">一、请把以下资料，打包成电子档发送到邮箱：kf@judiaowang.com</p>
                <p class="tipText">1、公司注册证书，商业登记证书，章程；</p>
                <p class="tipText">2、董事身份证；</p>
                <p class="tipText">3、国内公司营业执照，国内公司银行流水，相关业务文件，上下游合同，增值税发票报关单或者提单。</p><br>
                <p class="tipText">二、开户提示：</p>
                <p class="tipText">1、请自备银行查册费：HKD 1,200，开户现场交给银行；</p>
                <p class="tipText">2、开通时间：6周；</p>
                <p class="tipText">3、银行开户不需要购买任何理财产品。</p>
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="javascript:void(0)" class="fr paymentBtn">微信支付</a>
    </div>
</body>

</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js?v=1.0"></script>


