<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>香港公证</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="pinchContainer containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>公司名称</p>
                    <input class="placeholderText name" type="text" placeholder="请输入公司名称全称">
                </div>
            </div>
            <div class="customInfo">
                    <p class="title">咨询方式</p>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                        </p>
                    </div>
                    <div class="formItem clearfix">
                        <img src="../img/site.jpg" alt="" class="customIcon fl">
                        <p class="customBox fl">
                            <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                            <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                        </p>
                    </div>
                </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">下单请把以下资料电子档发给客服：</p><br>
                <p class="tipText">1、香港注册证书（CI）；</p>
                <p class="tipText">2、商业登记证（BR）；</p>
                <p class="tipText">3、发团成立表格或周年申报表（NNC1 or NAR1）；</p>
                <p class="tipText">4、董事会决议。</p><br>
                <p class="tipText">如公司文件有多余附件，每份多收200元。</p>
            </div>
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
