<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>香港公司注册</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">一、注册信息</p>
                <div class="formItem">
                    <p class="labTitle">公司名称<span class="addText">(中文)</span></p>
                    <input class="placeholderText companyName_zh" type="text" placeholder="中文名称必须以'有限公司'结尾">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;公司名称<span class="addText">(英文)</span></p>
                    <input class="placeholderText companyName_en" type="text" placeholder="英文名称必须填写,以'LIMIED'结尾">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;注册资本<span class="addText">(港元)</span></p>
                    <input class="placeholderText regCapital" type="text" placeholder="注册资本最低一万港元">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;业务性质</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="请简要说明业务性质"></textarea>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>是否需要加急处理<span class="addText"> (加急费用200元)</span> <br><span class="addText">(香港公司注册一般为7~9个工作日,加急可缩短至2~3个工作日)</span> </p>
                    <ul class="urget zoomList" id="area">
                       <li>是</li>
                       <li>否</li>
                    </ul>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">二、收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">香港公司注册须知</p><br>
                <p class="tipText">一、下单流程</p>
                <p class="tipText">1.填写公司信息</p>
                <p class="tipText">2.填写股东信息</p>
                <p class="tipText">3.上传文件</p>            
                <p class="tipText">4.填写收货信息</p>            
                <p class="tipText">5.注册名字以英文为准,下单后客服会第一时间跟您沟通落实公司名字注册问题</p> <br>           
                <p class="tipText">二、需准备的材料</p>
                <p class="tipText">1.自然人股东资料:</p>
                <p class="tipText">2.身份证正面</p>
                <p class="tipText">3.身份证反面</p>            
                <p class="tipText">4.手持身份证照片</p>            
                <p class="tipText">5.住址证明(任选一项,水电费单据、房产证、银行月结单、话费单)</p><br>                      
                <p class="tipText">三、需交付文件清单</p>                      
                <p class="tipText">1.注册证书1份</p>                      
                <p class="tipText">2.商业登记证1份</p>                      
                <p class="tipText">3.公司章程</p>                      
                <p class="tipText">4.钢印、签字印、小圆章</p>                      
                <p class="tipText">5.法定文件</p>                      
                <p class="tipText">6.绿盒一个</p>                     
            </div> 
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){
        $('.paymentBtn').on('click',function(){
            layer.msg('功能调试中...业务办理请联系客服');
        })
    })
</script>