<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>香港公司年审</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">年审信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/userIcon03.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">一、董事备案每年必须要做，订单费用包含公司年审和董事备案。</p><br>
                <p class="tipText">二、请把以下文件电子档打包发送至邮箱：kf@judiaowang.com</p>
                <p class="tipText">1、最新商业登记证和周年申报表扫描件；</p>
                <p class="tipText">2、董事股东变更资料（如有）；</p>            
                <p class="tipText">3、董事股东正反面身份证/护照复印件；</p>            
                <p class="tipText">4、董事、股东手持身份证正面半身照片一张（证件必须清晰）；</p>      
                <p class="tipText">5、个人居住地址证明（可提供快递单，水电单，前期可先不提供 ，若注册处抽查再提供 ）；</p>      
                <p class="tipText">6、KYC表格（下单后聚雕网提供模板，需由董事本人填写并签字确认、签字后发扫描件至聚雕网）；</p>      
                <p class="tipText">7、董事手机号和邮箱（备案SCR的时候需要）。</p><br>      
                <p class="tipText">三、办理时间是年审到期后的3-6工作日完成。</p>                                       
            </div> 
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){

        // 香港公司年审
        function getPrice(res) {
            if(res.code == "0") {
                $('.paymentBox>.payInfo>.payAmount').text(res.data.goods[0].goods[0].marketPrice)
            }else {
                layer.msg(res.msg);
            }

        }

        function callback_list(res){
            getPrice(res);
        }

        var url_list= baseUrl+'/api/hk/annual/list';
        var url_order= baseUrl+'';
        var type_list= 'post';
        var type_order= 'post';
        var targetUrl= ''
        // var targetUrl= ''
        var parameters_list= {
            busModId: "30", // 香港公司年审
            cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
        }
        getFormData(url_list,type_list,parameters_list,callback_list);

        $('.paymentBtn').on('click',function(){
            layer.msg('功能调试中...业务办理请联系客服');
        })
    })
</script>