<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>施工劳务资质</title>
    <link rel="stylesheet" href="../css/weui.min.css">    
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="lawContainer containerOut">
        <div class="containerInner educationInner">
            <div class="tipBox">
                <p class="tipTitle">施工劳务资质(不分等级)</p><br>
                <p class="tipText">一. 准备材料</p>
                <p class="tipText">1. 营业执照正副本、法人身份证、公章;</p>
                <p class="tipText">2. 净资产200万以上,近期财务报表后者审计报告;</p>
                <p class="tipText">3. 租赁合同或场地使用证明;</p>
                <p class="tipText">4. 社保账号及密码;</p>
                <p class="tipText">5. 50个技工的身份证及彩色照片,并能保证所有人员能拿到身份证原件</p><br>
                <p class="tipText">二. 支付方式</p>
                <p class="tipText">10万元,签订合同预付50%,剩余下证结清</p>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
