<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>法律服务</title>
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="lawContainer layout">
        <div class="innerBox">
            <img src="../img/law.png" alt="">
        </div>
    </div>
</body>
</html>
<script>
    $(function() {
        $.ajax({
            url: baseUrl+'/api/bankAccount/list',
            type: 'post',
            data: {
                busModId: "11" // 法律服务 12 食品经营许可证  13 教育资质 14 进出口经营权
            },
            headers: {
                "X-Jdw-Token": "7pnfyq95g9ugi51pdxuvr453ivnz3x0j"
            },
            success: function(res) {
                console.log(res.code);
            }
        })
    })
</script>