<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>医疗器械许可证</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">许可证信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>办理区域</p>
                    <ul class="zoomList" id="zoomBox">
                       <!-- 办理区域 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>许可证级别</p>
                    <ul class="levelBox zoomList" id="levelBox">
                       <!-- 许可证级别 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>有没有红本租赁合同</p>
                    <ul class="zoomList" id="rentBox">
                       <!-- 有没有租赁合同 -->
                    </ul>
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/userIcon03.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p><br>
                <p class="tipText">下单后请把以下资料快递到聚雕网：</p>
                <p class="tipText">1、公章；</p>
                <p class="tipText">2、营业执照复印件；</p>
                <p class="tipText">3、法人身份证复印件和毕业证复印件；</p>            
                <p class="tipText">4、企业管理人员身份证复印件和毕业证复印件；</p>            
                <p class="tipText">5、租赁合同及租赁凭证或房产证（商业用地）。</p><br>      
                <p class="tipText">办理时间：约5~7个工作日。</p>                                   
            </div> 
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.1"></script>
<script>
    $(function(){

        // 办理区域
        function zoomList(res){
            if(res.code == 0) {
                for (var i = 0; i < res.data.region.length; i++) {  
                    if(i == 0) {
                        var zoomItem= '<li class="checkedItem zoomItem" regionId='+res.data.region[i].regionId+'>'+res.data.region[i].name+'</li>'
                    }else {
                        var zoomItem= '<li class="zoomItem" regionId='+res.data.region[i].regionId+'>'+res.data.region[i].name+'</li>'
                    }
                    $('#zoomBox').append(zoomItem);
                }
            }else if(res.code == 666) {
                layer.msg(res.msg,function(){
                    window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                    return false;
                })
            }else {
                layer.msg(res.msg);
            }
        }
   

        // 许可证级别
        function levelList(res){
            if(res.code == 0) {
                for (var i = 0; i < res.data.goods[0].goods.length; i++) {  
                    if(i == 0) {
                        var levelItem= '<li class="checkedItem zoomItem" levelGoodsId='+ res.data.goods[0].goods[i].id+'>'+res.data.goods[0].goods[i].name+'</li>'
                    }else {
                        var levelItem= '<li class="zoomItem" levelGoodsId='+res.data.goods[0].goods[i].id+'>'+res.data.goods[0].goods[i].name+'</li>'
                    }
                    $('#levelBox').append(levelItem);
                }
            }else if(res.code == 666) {
                layer.msg(res.msg,function(){
                    window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                    return false;
                })
            }else {
                layer.msg(res.msg);
            }
        }

        // 有没有红本租赁合同
        function rentList(res){
            if(res.code == 0) {
                for (var i = 0; i < res.data.goods[1].goods.length; i++) {  
                    if(i == 0) {
                        var rentItem= '<li class="checkedItem zoomItem" rentGoodsId='+ res.data.goods[1].goods[i].id+'>'+res.data.goods[1].goods[i].name+'</li>'
                    }else {
                        var rentItem= '<li class="zoomItem" rentGoodsId='+res.data.goods[1].goods[i].id+'>'+res.data.goods[1].goods[i].name+'</li>'
                    }
                    $('#rentBox').append(rentItem);
                }
            }else if(res.code == 666) {
                layer.msg(res.msg,function(){
                    window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                    return false;
                })
            }else {
                layer.msg(res.msg);
            }
        }

      
        function callback_list(res){
            zoomList(res);
            levelList(res);
            rentList(res);
        }
        var url_list= baseUrl+'/api/medical/list';
        var url_order= baseUrl+'/api/medical/createOrder';
        var type_list= 'post';
        var type_order= 'post';
        // var targetUrl= 'http://judiaowang.cn/app/view/medicalPermit_order.html'
        var targetUrl= './medicalPermit_order.html'
        var parameters_list= {
            busModId: "23",// 医疗许可证
            cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
        }
        getFormData(url_list,type_list,parameters_list,callback_list);

        $('.paymentBtn').on('click',function(){
            var orderInfo= {};
            var orderInfoData= {};
            var companyName= $('.formItem>.companyName').val();
            var regionId= $('#zoomBox>li.checkedItem').attr('regionId');
            var regionText= $('#zoomBox>li.checkedItem').text();
            var levelGoodsId= $('#levelBox>li.checkedItem').attr('levelGoodsId');
            var levelGoodsText= $('#levelBox>li.checkedItem').text();
            var rentGoodsId= $('#rentBox>li.checkedItem').attr('rentGoodsId');
            var rentGoodsText= $('#rentBox>li.checkedItem').text();
            var goodsList= [levelGoodsId,rentGoodsId];
            var goodsPrice= "";
            orderInfo= {
                "busModId": "23",
                "cityId": JSON.parse(localStorage.getItem('loginData')).cityId,
                "companyName": companyName,
                "goodsIds": goodsList,
                "regionId": regionId
            }
            orderInfoData= {
                "companyName": companyName,
                "regionText": regionText,
                "levelGoodsText" :levelGoodsText,
                "rentGoodsText": rentGoodsText,
                "goodsPrice": goodsPrice
            }
            orderInfo= JSON.stringify(orderInfo);
            orderInfoData= JSON.stringify(orderInfoData);
            sessionStorage.setItem('medical_orderInfo',orderInfoData);
            createOrder(url_order,type_order,orderInfo,targetUrl)
        })
    })
</script>