<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单支付</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="orderInfo">
                <p class="title">登报信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">登报文字<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">联系人<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">联系电话<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">清算负责人电话<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">减资前注册资本<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">减资后注册资本<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">核准日期<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">税控盘号<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">发票代码<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">发票号码<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">份<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">许可证编号<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">是否三证合一<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">发票类型<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">是否已开<span class="colon">:</span></span>
                        <span class="labContent newsWords text"></span>
                    </p>
                    <div class="orderItem uploadFile">
                        <span class="labTitle">变更(备案)通知书<span class="colon">:</span></span>
                        <p class="labContent license_img">
                            <img class="showImg" src='../img/RMB_flag' alt="">
                        </p>
                    </div>
                    <div class="orderItem legal1Item uploadFile">
                        <span class="labTitle">营业执照<span class="colon">:</span></span>
                        <p class="labContent legal1_img">
                            <img class="showImg" src='../img/showImg' alt="">
                        </p>
                    </div>
                </div>
            </div>
            <div class="orderInfo">
                <p class="title">登报类型</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labContent userName"></span>    
                        <span class="labContent userTel"></span>
                    </p>    
                    <p class="orderItem">
                        <span class="labContent userAdd"></span>
                    </p>
                </div>  
            </div>
            <div class="orderInfo">
                <p class="title">遗失材料</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labContent userName"></span>    
                        <span class="labContent userTel"></span>
                    </p>    
                    <p class="orderItem">
                        <span class="labContent userAdd"></span>
                    </p>
                </div>  
            </div>
            <div class="orderInfo">
                <p class="title">收货信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labContent userName"></span>    
                        <span class="labContent userTel"></span>
                    </p>    
                    <p class="orderItem">
                        <span class="labContent userAdd"></span>
                    </p>
                </div>  
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="./dev.html" class="fr paymentBtn">微信支付</a>
    </div>
</body>

</html>


<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>

