<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登报服务</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="newsContainer containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="baseInfo">
                <p class="title">登报信息<span>(深圳报)</span></p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>登报类型</p>
                    <div class="content clearfix" id="newsBox">
                        <!-- 登报类型 -->
                    </div>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>清算负责人电话</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入清算负责人电话">
                </div>
                <div class="formItem clearfix">
                    <p class="labTitle"><span class="isRequired">*</span>上传资料</p>
                    <div class="uploadBox fl fileBox licenseUpload">
                        <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">变更(备案)通知书<span class="requiredFlag">*</span></p>
                    </div>
                    <div class="uploadBox fr fileBox legalId1Upload isShowItem">
                        <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">营业执照<span class="requiredFlag">*</span></p>
                    </div>
                </div>
            </div>
            <div class="baseInfo">
                <p class="title">遗失资料信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>选择遗失的资料</p>
                    <table class="missFileTab">
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">营业执照正本</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">营业执照副本</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记正本</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记副本</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记正本</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记副本</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">税控盘</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">发票</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">刻章卡</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">公章</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">财务章</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">发票章</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">食品经营许可证正本</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">食品经营许可证副本</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="baseInfo">
                <p class="title">遗失登报预览<a class="previewText" href="javascript:void(0)">查看预览</a></p>
                <div class="formItem">
                    <textarea name="" id="textarea" cols="" rows="" class="remarkText" placeholder="请输入登报文字"></textarea>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
                <div class="formItem">
                    <p class="labTitle">备注</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="如有其它要求请备注"></textarea>
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/userIcon03.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="./newsPaper_order.html" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.0"></script>
<script>
    $(function(){
        // 登报类型
        function newsType(res) {
            for (let i = 0; i < res.data.goods[0].goods.length; i++) {
                var newsTypeItem= '<label for="'+res.data.goods[0].goods[i].id+'" class="fl optionAbout optionType">'+
                                        '<p class="flag">'+
                                            '<img class="icon" src="'+res.data.goods[0].goods[i].imgUrl+'" alt="">'+
                                            '<span class="text">'+res.data.goods[0].goods[i].name+'</span>'+
                                        '</p>'+
                                        '<p class="price">￥'+res.data.goods[0].goods[i].marketPrice+'</p>'+
                                        '<input class="selectBtn" type="radio" id="'+res.data.goods[0].goods[i].id+'">'+
                                    '</label>'
            $('#newsBox').append(newsTypeItem);
            }

        }

        function callback_list(res){
            newsType(res);
        }

        var url_list= baseUrl+'/api/newspaper/list';
        var url_order= baseUrl+'';
        var type_list= 'post';
        var type_order= 'post';
        var targetUrl= 'http://judiaowang.cn/app/view/newsPaper_order.html'
        // var targetUrl= './newsPaper_order.html'
        var parameters_list= {
            busModId: "7",// 登报服务
            cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
        }
        getFormData(url_list,type_list,parameters_list,callback_list);


        $('.paymentBtn').on('click',function(){
            layer.msg('功能调试中...业务办理请联系客服');
        })
    })
</script>
