<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单支付</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="orderInfo">
                <p class="title">登报信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">登报文字<span class="colon">:</span></span>
                        <span class="labContent newspaperWord text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">联系人<span class="colon">:</span></span>
                        <span class="labContent contactName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">联系电话<span class="colon">:</span></span>
                        <span class="labContent contactPhone text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">清算负责人电话<span class="colon">:</span></span>
                        <span class="labContent liquidatorPhone text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">减资前注册资本<span class="colon">:</span></span>
                        <span class="labContent capitalFront text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">减资后注册资本<span class="colon">:</span></span>
                        <span class="labContent capitalBack text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">核准日期<span class="colon">:</span></span>
                        <span class="labContent verifyTime text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">税控盘号<span class="colon">:</span></span>
                        <span class="labContent taxNumber text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">发票代码<span class="colon">:</span></span>
                        <span class="labContent billCode text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">发票号码<span class="colon">:</span></span>
                        <span class="labContent billNum text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">份<span class="colon">:</span></span>
                        <span class="labContent billPart text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">许可证编号<span class="colon">:</span></span>
                        <span class="labContent permitNum text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">是否三证合一<span class="colon">:</span></span>
                        <span class="labContent cert text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">发票类型<span class="colon">:</span></span>
                        <span class="labContent billType text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">是否已开<span class="colon">:</span></span>
                        <span class="labContent billHave text"></span>
                    </p>
                    <div class="orderItem uploadFile">
                        <span class="labTitle">变更(备案)通知书<span class="colon">:</span></span>
                        <p class="labContent license_img">
                            <img class="showImg noticeBook" src='' alt="">
                        </p>
                    </div>
                    <div class="orderItem legal1Item uploadFile">
                        <span class="labTitle">营业执照<span class="colon">:</span></span>
                        <p class="labContent legal1_img">
                            <img class="showImg busLicense" src='' alt="">
                        </p>
                    </div>
                </div>
            </div>
            <div class="orderInfo">
                <p class="title">登报类型</p>
                <div class="content">
                    <table class="newsTypeTable w100">
                        <tbody id="newsTypeBox">
                            <!-- 登报类型 -->
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="orderInfo">
                <p class="title">遗失材料</p>
                <div class="content">
                    <table class="loseTypeTable w100">
                        <tbody id="loseTypeBox">
                            <!-- 遗失材料 -->
                        </tbody>
                    </table>
                </div>  
            </div>
            <div class="orderInfo">
                <p class="title">收货信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labContent userName consignee"></span>    
                        <span class="labContent userTel phone"></span>
                    </p>    
                    <p class="orderItem">
                        <span class="labContent userAdd address"></span>
                    </p>
                </div>  
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="javascript:void(0)" class="fr paymentBtn">微信支付</a>
    </div>
</body>

</html>


<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        var orderInfoData= JSON.parse(sessionStorage.getItem('news_orderInfo'));
        var orderId= getUrlParam('orderId');
        var targetUrl= 'http://judiaowang.cn/app/view/newsPaper_form.html';
        $('.orderItem>.companyName').text(orderInfoData.companyName); //必填
        $('.orderItem>.address').text(orderInfoData.address);
        $('.orderItem>.billCode').text(orderInfoData.billCode);
        $('.orderItem>.billHave').text(orderInfoData.billHave);
        $('.orderItem>.billNum').text(orderInfoData.billNum);
        $('.orderItem>.billPart').text(orderInfoData.billPart);
        $('.orderItem>.billType').text(orderInfoData.billType);
        $('.busLicense').attr('src',orderInfoData.busLicense);
        $('.orderItem>.capitalBack').text(orderInfoData.capitalBack);
        $('.orderItem>.capitalFront').text(orderInfoData.capitalFront);
        $('.orderItem>.cert').text(orderInfoData.cert);
        $('.orderItem>.consignee').text(orderInfoData.consignee);
        $('.orderItem>.contactName').text(orderInfoData.contactName);
        $('.orderItem>.contactPhone').text(orderInfoData.contactPhone);
        $('.orderItem>.liquidatorPhone').text(orderInfoData.liquidatorPhone);
        $('.orderItem>.newspaperWord').text(orderInfoData.newspaperWord);
        $('.noticeBook').attr('src',orderInfoData.noticeBook);
        $('.orderItem>.permitNum').text(orderInfoData.permitNum);
        $('.orderItem>.phone').text(orderInfoData.phone);
        $('.orderItem>.postscript').text(orderInfoData.postscript);
        $('.orderItem>.taxNumber').text(orderInfoData.taxNumber);
        $('.orderItem>.verifyTime').text(orderInfoData.verifyTime);

        $('.payAmount').text(orderInfoData.goodsPrice); 
        for (let i = 0; i < orderInfoData.loseText.length; i++) {
           var newsTypeItem= '<tr>'+
                                '<td class="type w50">'+orderInfoData.loseText[i]+'</td>'+
                                '<td class="amount w30">×1</td>'+
                            '</tr>'
            $('#loseTypeBox').append(newsTypeItem);
        }
        for (let i = 0; i < orderInfoData.goodsText.length; i++) {
           var loseTypeItem= '<tr>'+
                                '<td class="type w50">'+orderInfoData.goodsText[i]+'</td>'+
                                '<td class="amount w30">×1</td>'+
                            '</tr>'
            $('#newsTypeBox').append(loseTypeItem);
        }


        $('.paymentBtn').on('click',function(){
            weChatPay(orderId,targetUrl)
        })
    })
</script>
