<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no ">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>登报服务</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="newsContainer containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="baseInfo">
                <p class="title">登报信息<span>(深圳报)</span></p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>登报类型</p>
                    <div class="content clearfix">
                        <label for="cancellation" class="fl optionAbout optionType">
                            <p class="flag">
                                <img class="icon" src="../img/other1_icon.png" alt="">
                                <span class="text">注销登报</span>
                            </p>
                            <p class="price">￥150.00</p>
                            <input class="selectBtn" type="radio" id="cancellation">
                        </label>
                        <label for="havingLost" class="fr optionAbout optionType">
                            <p class="flag">
                                <img class="icon" src="../img/other1_icon.png" alt="">
                                <span class="text">遗失登报</span>
                            </p>
                            <p class="price">￥75/60个字</p>
                            <input class="selectBtn" type="radio" id="havingLost">
                        </label>
                    </div>
                </div>
                <!-- <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>清算负责人电话</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入清算负责人电话">
                </div>
                <div class="formItem upload_ID clearfix uploadBox">
                    <p class="labTitle"><span class="isRequired">*</span>上传附件</p>
                    <div class="picUp ID_img fl uploadIcon" style="position:relative">
                        <input class="idImg uploadInput" type="file" style="opacity:0;width:100%;height:100%;position:absolute;left:0px;" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg" style="display:block;margin:0 auto; height:100%;">
                        <span class="tipText"><span style="color:#CD0000;vertical-align: middle;">*</span>变更(备案)通知书</span>
                    </div>
                    <div class="picDown ID_img fr uploadIcon" style="position:relative">
                        <input class="idImg uploadInput" type="file" style="opacity:0;width:100%;height:100%; position:absolute;left:0px;" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg" style="display:block;margin:0 auto; height:100%;">
                        <span class="tipText"><span style="color:#CD0000;vertical-align: middle;">*</span>营业执照</span>
                    </div>
                </div> -->
            </div>
            <div class="baseInfo">
                <p class="title">遗失资料信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>选择遗失的资料</p>
                    <table class="missFileTab">
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">营业执照正本</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">营业执照副本</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记正本</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记副本</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记正本</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">税务登记副本</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">税控盘</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">发票</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">刻章卡</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">公章</span>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <input type="checkbox">
                                <span class="text">财务章</span>
                            </td>
                            <td>
                                <input type="checkbox">
                                <span class="text">发票章</span>
                            </td>
                        </tr>
                    </table>
                </div>
            </div>
            <div class="baseInfo">
                <p class="title">遗失登报预览<a class="previewText" href="javascript:void(0)">查看预览</a></p>
                <div class="formItem">
                    <textarea name="" id="textarea" cols="" rows="" class="remarkText" placeholder="请输入登报文字"></textarea>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
                <div class="formItem">
                    <p class="labTitle">备注</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="如有其它要求请备注"></textarea>
                </div>
            </div>
        </div>
        <div class="paymentBox">
            <span class="payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
            </span>
            <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.0"></script>
