<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>合作商登录</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/userInfo.css">
</head>

<body>
    <div class="partnerLogin">
        <p class="title">合作商登录</p>
        <div class="loginForm">
            <div class="formItem phone">
                <p class="itemTitle">预留号码</p>
                <input type="text" class="itemInput" placeholder="请输入手机号码">
                <!-- <div class="getCode">获取验证码</div> -->
            </div>
            <!-- <div class="formItem code">
                <p class="itemTitle">验证码</p>
                <input type="text" placeholder="请输入验证码">
            </div> -->
            <div class="formItem password">
                <p class="itemTitle">密码</p>
                <input type="text" placeholder="请输入密码">
            </div>
        </div>
        <a href="./partnerCenter.html" class="loginBtn">登录</a>
    </div>
</body>
</html>

<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
