<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>用户注册</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
    <link rel="stylesheet" href="../css/userInfo.css?v=1.1">
</head>
<body>
    <div class="partnerRegist containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">用户信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>公司地址</p>
                    <input class="placeholderText companyAdd" type="text" placeholder="请输入公司地址">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>姓名</p>
                    <input class="placeholderText userName" type="text" placeholder="请输入姓名">
                </div>
                <div class="formItem">
                    <p class="labTitle">推荐人</p>
                    <input class="placeholderText referrer" type="text" placeholder="请输入推荐人(选填)">
                </div>
                <div class="formItem">
                    <p class="labTitle">优势业务</p>
                    <textarea class="remarkText business" name="" id="" cols="" rows="" placeholder="简要描述您的优势业务(选填)"></textarea>
                </div>
            </div>
            <div class="baseInfo">
                <p class="title">下载合同,填写盖章上传</p>
                <div class="formItem clearfix">
                    <p class="labTitle"><span class="isRequired">*</span>上传电子合同<a target="_blank" download="contact.pdf" href="https://judiaowang.oss-cn-shenzhen.aliyuncs.com/template/contract.pdf">(电子合同模板下载)</a></p>               
                    <span class="addText">下载合同,打印填写并盖章,按照序号将合同上传</span>
                    <!-- <div class="uploadBox">
                        <input type="file" class="uploadInput" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                    </div> -->
                    <div class="uploadBox fileBox fl contract1">
                        <input class="uploadInput" type="file" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">合同第一页<span class="requiredFlag">*</span></p>
                    </div>
                    <div class="uploadBox fileBox fr contract2">
                        <input class="uploadInput" type="file" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">合同第二页<span class="requiredFlag">*</span></p>
                    </div>
                    <div class="uploadBox fileBox fl contract3">
                        <input class="uploadInput" type="file" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">合同第三页<span class="requiredFlag">*</span></p>
                    </div>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">手机验证</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>手机号码</p>
                    <input class="placeholderText mobile" type="text" placeholder="此手机号码将用作主账号登陆">
                </div>
                <div class="formItem" style="position:relative">
                    <p class="labTitle"><span class="isRequired">*</span>验证码</p>
                    <input class="placeholderText code" type="text" placeholder="请输入验证码">
                    <button class="getCodeBtn">获取验证码</button>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>密码</p>
                    <input class="placeholderText password" type="password" placeholder="请输入密码">
                </div>
            </div>
            <a href="javascript:void(0)" class="weui_btn weui_btn_primary regBtn">注册</a>
        </div>
    </div>
</body>
</html>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.0"></script>
<script>
    var baseUrl= 'http://judiaowang.cn/platform';
    // ------------获取短信验证码--------------
    $('.getCodeBtn').on('click',function(){
        getCode();
    })

    // ------------获取短信验证码--------------

    $('.regBtn').on('touchend',function(e){
        var companyName= $('.formItem .companyName').val();
        var companyAdd= $('.formItem .companyAdd').val();
        var userName= $('.formItem .userName').val();
        var referrer= $('.formItem .referrer').val(); 
        var business= $('.formItem .business').val(); 
        var mobile= $('.formItem .mobile').val(); 
        var code= $('.formItem .code').val(); 
        var password= $('.formItem .password').val();
        // var bargain= $('.uploadBox .showImg').attr('src');
        var contract1= $('.contract1 .showImg').attr('src');
        var contract2= $('.contract2 .showImg').attr('src');
        var contract3= $('.contract3 .showImg').attr('src');
        var contractList= [contract1,contract2,contract3];
        var partnerReg = {
            address: companyAdd,
            username: userName,
            // bargain: bargain, // 合同url地址
            bargain: contractList, // 合同url地址
            business: business,
            mobile: mobile,
            name: companyName,
            password: password,
            referrer: referrer,
            smsCode: code,
        } 
        var partnerRegData= JSON.stringify(partnerReg); 

        // 注册信息校验规则
        if(companyName == ''){ //验证公司名称
                layer.msg('请输入公司名称');
                return;
            }

        if(companyAdd == ''){ //验证公司地址
            layer.msg('请输入公司地址');
            return;
        }

        if(companyAdd == ''){ //验证用户姓名
            layer.msg('请输入姓名');
            return;
        }

        if(mobile == ''){ //验证手机号码
            layer.msg('请输入手机号码');
            return;
        }else if(!(/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(mobile))) {
            layer.msg('请填写正确的手机号码');
            return;
        }

        if(code == ''){ //验证短信验证码
            layer.msg('请输入验证码');
            return;
        }

        $.ajax({
            type: 'post',
            url: baseUrl+'/api/register/register',
            data: partnerRegData,
            contentType: "application/json",        
            success: function(data){
                if(data.code == 0) {
                    layer.msg('注册成功',function(){
                        window.location.href= 'http://judiaowang.cn/app/view/partnerLogin.html';
                    });
                }else {
                    layer.msg(data.msg);
                }
                
            }

        })

    })
</script>