<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/bootstrap-3.3.7-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/userInfo.css">
    <style>
        body {
            background-color: #e7e7e7;
        }
    </style>
</head>
<body>
    <div class="partnerCenter containerOut">
        <div class="basic titleBox">
            <p class="personText">
                <span class="name"></span>
                <span class="phone"></span>
            </p>
            <p class="company">
                <img class="comIcon" src="../img/entry/gongsi.png" alt="">
                <span class="companyName"></span> 
            </p>
            <p class="personIcon">
                <img src="../img/person/userIcon03.jpg" alt="">
            </p>
        </div>
        <div class="contentBox">
            <div class="order clearfix">
                <p class="title">我的订单</p>
                <div class="orderBefore orderRecord fl">
                    <p class="amount">0</p>
                    <span class="text">处理中</span>
                    <img class="orderFlag fr" src="../img/person/order_before.png" alt="">
                </div>
                <div class="orderAfter orderRecord fr">
                    <p class="amount">0</p>
                    <span class="text">已完成</span>
                    <img class="orderFlag fr" src="../img/person/order_after.png" alt="">
                </div>
            </div>
            <div class="accountBox component">
                <p class="title">
                    <img src="../img/person/accountIcon01.png" alt="">
                    <span class="text">子账号管理</span>
                </p>
                <div class="content clearfix">
                    <!-- 子账号列表 -->
                    <table class="table userTable">
                        <tbody id="accountListBox">
                            <!-- 子账号 -->
                        </tbody>
                    </table>
                    <p class="addBtn" id="add_accountBtn">
                        <span class="addIcon">+</span>
                        <span class="text">添加账号</span>
                    </p>
                </div>
            </div>
            <div class="payBox component">
                <p class="title">
                    <img src="../img/person/payIcon01.png" alt="">
                    <span class="text">自定义支付</span>
                </p>
                <div class="content clearfix">
                    <a href="javascript:void(0)" class="left fl">
                        <img class="flagIcon" src="../img/person/payIcon02.png" alt="">
                        <span class="text">自定义支付1</span>
                    </a>
                    <a href="javascript:void(0)" class="right fr">
                        <img class="flagIcon" src="../img/person/payIcon03.png" alt="">
                        <span class="text">自定义支付2</span>
                    </a>
                </div>
            </div>
            <div class="billBox component">
                <p class="title">
                    <img src="../img/person/bill_icon01.png" alt="">
                    <span class="text">在线开票</span>
                </p>
                <div class="content clearfix">
                    <a href="javascript:void(0)" class="left fl">
                        <span class="amount other">0</span>
                        <span class="text">可开发票单数</span>
                    </a>
                    <a href="javascript:void(0)" class="right fr">
                        <img class="flagIcon" src="../img/person/bill_icon02.png" alt="">
                        <span class="text">申请在线开票</span>
                    </a>
                </div>
            </div>
            <div class="moreSer component">
                <a href="../index.html" class="toMore clearfix">
                    <span class="text1 text fr">更多服务</span><br><br>
                    <span class="text2 text fr">让客户业务变得更加全能</span><br><br>
                    <span class="text3 text fr">查看详情></span><br>
                </a>
            </div>
        </div>
        <div class="bottomBox">
            <a href="javascript:void(0)" class="query">
                <span class="icon glyphicon glyphicon-list-alt"></span>
                <span class="text">查询</span>
            </a>
            <a href="https://yzf.qq.com/xv/web/static/chat/index.html?sign=37ef9b97842405c320479abb48e3b63144827349ee4846c8c4b2ba69a8663e970c4c6e1f88166f89cfae5c7feed7eb23cf68bb" class="message">
                <span class="icon  answerIcon glyphicon glyphicon-plus-sign"></span>
                <span class="text">疑难咨询</span>
            </a>
            <a href="javascript:void(0)" class="person">
                <span class="icon glyphicon glyphicon-user"></span>
                <span class="text">我的</span>
            </a>
        </div>
    </div>

    <!-- 添加子账号弹窗 -->
    <div id="add_accountBox">
        <div class="formItem">
            <span class="labTitle"><span class="isRequired">*</span>姓名:</span>
            <input class="placeholderText userName" type="text" placeholder="请输入姓名">
        </div>
        <div class="formItem">
            <span class="labTitle"><span class="isRequired">*</span>手机号码:</span>
            <input class="placeholderText mobile" type="text" placeholder="请输入手机号码">
        </div>
        <!-- <a href="javascript:void(0)" class="confirmBtn">确定</a> -->
    </div>
</body>
</html>

<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        // 获取用户基本信息
        getUserInfo();

        // 获取子账号列表
        childAccList();

        // 点击添加子账号管理
        $('#add_accountBtn').on('click',function(){
            layer.open({
                type: 1,
                title: '添加子账号',
                content: $('#add_accountBox'),
                btn: ['确定'],
                btnAlign: 'c',
                yes:function(index) {
                    var userName= $('#add_accountBox>.formItem>.userName').val();
                    var mobile= $('#add_accountBox>.formItem>.mobile').val();
                    addChildAcc(userName,mobile,index);
                } 
            })
        })

    })
</script>