<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>注册/登录</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/userInfo.css">
</head>
<body>
   <div class="partnerContainer">
       <div class="partner_bg">
            <img src="../img/entry/partnerEntry_bg.png" alt="">
       </div>
       <p class="slogan">找服务就选聚雕网</p>
       <div class="partnerBtn clearfix">
           <a href="./partnerRegist.html" class="regBtn operateBtn fl">注册</a>
           <a href="./partnerLogin.html" class="loginBtn operateBtn fr">登录</a>
       </div>
   </div>
</body>
</html>