<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>合作商登录</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/userInfo.css">
</head>

<body>
    <div class="partnerLogin">
        <p class="title">合作商登录</p>
        <div class="loginForm">
            <div class="formItem phone" style="position:relative">
                <p class="itemTitle">预留号码</p>
                <input type="text" class="itemInput mobile" placeholder="请输入手机号码">
                <button style="position:absolute;right:0px;bottom:8px;border-radius:21px;" class="getCodeBtn">获取验证码</button>
            </div>
            <div class="formItem code">
                <p class="itemTitle">验证码</p>
                <input type="text" class="code"  placeholder="请输入验证码">
            </div>
            <div class="formItem password">
                <p class="itemTitle">密码</p>
                <input type="password" class="password" placeholder="请输入密码">
            </div>
        </div>
        <a href="javascript:void(0)" class="loginBtn">登录</a>
    </div>
</body>
</html>

<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script>
    var baseUrl= 'http://judiaowang.cn/platform';

    // ------------获取短信验证码--------------
    var time= 60;
    var clearId;
    $('.getCodeBtn').on('click',function(){
        $(this).attr('disabled',"true");
        $(this).text(time+'s再获取');
        clearId= setInterval(timeDown,1000);
    })

    function timeDown() {
        if(time == 0) {
            $('.formItem>.getCodeBtn').removeAttr('disabled');
            $('.formItem>.getCodeBtn').text('获取验证码');
            clearInterval(clearId);
       }else {
            time--
            $('.formItem>.getCodeBtn').text(time+'s再获取');
       }
    }

    $('.loginBtn').on('touchend',function(e){
        var mobile= $('.formItem .mobile').val();
        var code= $('.formItem .code').val();
        var password= $('.formItem .password').val();
        var partnerLog= {
            mobile: mobile,
            password: password	
        }

        partnerLog= JSON.stringify(partnerLog);
        // 校验规则
        if(mobile == ''){ //验证手机号码
            layer.msg('请输入手机号码');
            return;
        }else if(!(/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(mobile))) {
            layer.msg('请填写正确的手机号码');
            return;
        }

        // if(code == ''){ //验证短信验证码
        //     layer.msg('请输入短信验证码');
        //     return;
        // }

        if(password == ''){ //验证密码
            layer.msg('请输入密码');
            return;
        }
        $.ajax({
            type: 'post',
            url: baseUrl+'/api/auth/login',
            data: partnerLog,
            contentType: 'application/json',
            success: function(res){
                if(res.code== 0) {
                    var data= {
                        token: res.data.token,
                        cityId: res.data.cityId,
                    }
                    data= JSON.stringify(data);
                    localStorage.setItem('loginData',data);
                    var token= res.data.token;
                    window.location.href= baseUrl+'/api/auth/mpAuth?userId='+res.data.userId+'&returnUrl=http://judiaowang.cn/app/index.html';
                }else {
                    layer.msg(res.msg)
                }
            }
        })
    })
</script>
