<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/userInfo.css">
</head>
<body>
    <div class="partnerCenter">
        <div class="basic titleBox">
            <p class="personText">
                <span class="name">邵先生</span>
                <span class="phone">18603059551</span>
            </p>
            <p class="company">
                <img src="../img/entry/gongsi.png" alt="">
                <span class="companyName">聚雕网科技有限公司</span> 
            </p>
            <p class="personIcon">
                <img src="../img/dev.png" alt="">
            </p>
        </div>
        <div class="contentBox">
            <div class="order clearfix">
                <p class="title">我的订单</p>
                <div class="orderBefore orderRecord fl">
                    <p class="amount">0</p>
                    <span class="text">处理中</span>
                    <img class="orderFlag fr" src="../img/person/order_before.png" alt="">
                </div>
                <div class="orderAfter orderRecord fr">
                    <p class="amount">0</p>
                    <span class="text">已完成</span>
                    <img class="orderFlag fr" src="../img/person/order_after.png" alt="">
                </div>
            </div>
            <div class="accountBox component">
                <p class="title">
                    <img src="../img/person/accountIcon01.png" alt="">
                    <span class="text">子账号管理</span>
                </p>
                <div class="content clearfix">
                    <table class="table userTable">
                        <tbody>
                            <tr>
                                <img src="" alt="" class="userIcon">
                            </tr>
                            <tr>
                                <span class="tel">18603059551</span>
                                <span class="name">邵营</span>
                            </tr>
                            <tr></tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="payBox component">
                <p class="title">
                    <img src="../img/person/payIcon01.png" alt="">
                    <span class="text">自定义支付</span>
                </p>
                <div class="content clearfix">
                    <a href="javascript:void(0)" class="left fl">
                        <img class="flagIcon" src="../img/person/payIcon02.png" alt="">
                        <span class="text">自定义支付1</span>
                    </a>
                    <a href="javascript:void(0)" class="right fr">
                        <img class="flagIcon" src="../img/person/payIcon03.png" alt="">
                        <span class="text">自定义支付2</span>
                    </a>
                </div>
            </div>
            <div class="billBox component">
                <p class="title">
                    <img src="../img/person/bill_icon01.png" alt="">
                    <span class="text">在线开票</span>
                </p>
                <div class="content clearfix">
                    <a href="javascript:void(0)" class="left fl">
                        <span class="amount other">0</span>
                        <span class="text">可开发票单数</span>
                    </a>
                    <a href="javascript:void(0)" class="right fr">
                        <img class="flagIcon" src="../img/person/bill_icon02.png" alt="">
                        <span class="text">申请在线开票</span>
                    </a>
                </div>
            </div>
            <div class="moreSer component">
                <a href="../index.html" class="toMore">

                </a>
            </div>
        </div>
    </div>
</body>
</html>