<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>个人中心</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/userInfo.css">
</head>
<body>
    <div class="partnerCenter">
        <div class="basic">
            <p class="personText">
                <span class="name">邵先生</span>
                <span class="phone">18603059551</span>
            </p>
            <p class="company">聚雕网科技有限公司</p>
            <p class="personIcon">
                <img src="../img/dev.png" alt="">
            </p>
        </div>
        <div class="order clearfix">
            <p class="title">我的订单</p>
            <div class="orderBefore orderRecord fl">
                <p class="amount">0</p>
                <span class="text">处理中</span>
            </div>
            <div class="orderAfter orderRecord fr">
                <p class="amount">0</p>
                <span class="text">已完成</span>
            </div>
        </div>
        <div class="answer clearfix">
            <p class="title">留言答疑</p>
            <div class="board module fl">
                <p class="flag"></p>
                <span class="text">留言答疑</span>
            </div>
            <div class="professor module fr">
                <p class="flag"></p>
                <span class="text">专家疑难解答</span>
            </div>
        </div>
    </div>
</body>
</html>