<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商标专利</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="top_bg"></div>
    <div class="contentBox patentEntry">
        <ul>
            <li>
                <a href="./patent_form.html" hrefs="./view/seal_form.html">
                    <img src="../img/icon12.png" alt=""> 专利申请
                </a>
            </li>
            <li>
                <a href="./markIcon_form.html" hrefs="./view/closeCompany_form.html">
                    <img src="../img/icon13.png" alt=""> 商标注册
                </a>
            </li>
            <li>
                <a href="javascript:void(0)" hrefs="./view/closeCompany_form.html">
                    <img src="../img/icon13.png" alt="">
                </a>
            </li>
        </ul>
    </div>
</body>

</html>

