<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单支付</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="orderInfo">
                <p class="title">公司信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">应纳企业所得税<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">商务联系人<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">商务联系人电话<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">技术联系人<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">技术联系人电话<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">证书邮寄地址<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">备注<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                </div>
            </div>
            <div class="orderInfo">
                <p class="title">专利类型</p>
                <div class="orderAbout_content">
                    <table class="patentTable w100">
                        <tbody>
                            <tr>
                                <td class="type">发明专利</td>
                                <td class="amount">3</td>
                                <td class="price">￥2505</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="./dev.html" class="fr paymentBtn">微信支付</a>
    </div>
</body>

</html>


<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        var orderId= getUrlParam('orderId');  // 获取订单id
        
    })
</script>