<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>商标专利</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="containerOut patentEntry">
        <div class="tobBanner_bg"></div>
        <div class="contentBox">
            <ul id="listBox">
                <li>
                    <a href="./patent_form.html" hrefs="./view/seal_form.html">
                        <img src="../img/icon12.png" alt=""> 专利申请
                    </a>
                </li>
                <li>
                    <a href="./markIcon_form.html" hrefs="./view/closeCompany_form.html">
                        <img src="../img/icon13.png" alt=""> 商标注册
                    </a>
                </li>
            </ul>
        </div>
    </div>
</body>

</html>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js?v=1.0"></script>
<script>
    $(function(){ 
        var serveItemLis= $('.contentBox>ul>li').length; // 获取服务列表的个数
        if (serveItemLis % 3 == 0) {
            $('.contentBox>ul').attr('justifyContent', 'spaceBetween')
        } else if (serveItemLis % 3 == 1) {
            $('.contentBox>ul').attr('justifyContent', 'spaceAround')
        } else if (serveItemLis % 3 == 2) {
            var otherItem = '<li class="lastItem">' +
                                '<a href="javascript:void(0)" hrefs="javascript:void(0)">' +
                                    '<img src="" alt="">' +
                                '</a>' +
                            '</li>'
            $('#listBox').append(otherItem);
            $('#listBox .lastItem').attr('visibility', 'hidden');
        }
    })
</script>