<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>专利申请</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="patentFormBox containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="baseInfo">
                <p class="title">专利信息</p>
                <div class="formItem">
                    <p class="title"><span class="isRequired">*</span>公司名称</p>
                    <div class="content companyNameBox">
                        <input class="companyNameText" type="text" placeholder="请输入公司名称">
                    </div>
                </div>
                <div class="formItem">
                    <p class="title"><span class="isRequired">*</span>企业应纳税所得额(官费减免)</p>
                    <ul class="zoomList taggleItem">
                        <li class="checkedItem">100万以下(是)</li>
                        <li>100万以上(否)</li>
                    </ul>
                </div>
                <div class="formItem partOther">
                    <p class="title"><span class="isRequired">*</span>专利类型</p>
                    <div class="content clearfix" id="patentBox">
                        <!-- 专利类型 -->
                    </div>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">联系信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>商务联系人</p>
                    <input class="placeholderText businessName" type="text" placeholder="请输入商务联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>商务联系人电话</p>
                    <input class="placeholderText businessTel" type="text" placeholder="请输入商务联系人电话">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>技术联系人</p>
                    <input class="placeholderText technicalName" type="text" placeholder="请输入技术联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>技术联系人电话</p>
                    <input class="placeholderText technicalTel" type="text" placeholder="请输入技术联系人电话">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>证书邮寄地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入证书邮寄地址">
                </div>
                <div class="formItem">
                    <p class="labTitle">备注说明</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="请准确说明发票商品名称,企业产品名称"></textarea>
                </div>            
            </div>   
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/userIcon03.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">下单须知</p>
                <p class="tipText">1、在聚雕网下单专利，提供免费年费管理，年费代缴另外付费</p>
                <p class="tipText">2、相关进度在系统里面订单详情里面查询、上传、下载相关文件；</p>
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="javascript:void(0)" class="fr paymentBtn">下一步</a>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){

        // 专利申请
        function patentList(res) {
            if(res.code == "0") {
                for (let i = 0; i < res.data.goods.length; i++) {
                    var patentItem= '<label for="'+res.data.goods[i].id+'" class="fl optionAbout optionType">'+
                                            '<p class="flag">'+
                                                '<img class="icon" src="'+res.data.goods[i].imgUrl+'" alt="">'+
                                                '<span class="text">'+res.data.goods[i].name+'</span>'+
                                            '</p>'+
                                            '<p class="price">￥'+res.data.goods[i].marketPrice+'</p>'+
                                            '<input class="selectBtn" type="checkbox" id="'+res.data.goods[i].id+'">'+
                                        '</label>'
                    $('#patentBox').append(patentItem);
                }
            }else {
                layer.msg(res.msg);
            }

        }

        function callback_list(res){
            patentList(res);
        }

        var url_list= baseUrl+'/api/patent/list';
        var url_order= baseUrl+'/api/patent/createOrder';
        var type_list= 'post';
        var type_order= 'post';
        // var targetUrl= 'http://judiaowang.cn/app/view/patent_order.html'
        var targetUrl= './patent_order.html'
        var parameters_list= {
            busModId: "25",// 专利申请
            categoryId: '18',
            cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
        }
        getFormData(url_list,type_list,parameters_list,callback_list);



        $('.paymentBtn').on('click',function(){
            var orderInfo= {};
            var orderInfoData= {};
            var goodsIds= [];
            var taxText= $('.taggleItem>li.checkedItem').text();
            var goodsList= $("#patentBox>.optionType>input[type='checkbox']:checked");
            for (let i = 0; i < goodsList.length; i++) {  // 商品id
                goodsIds.push($(goodsList[i]).attr('id'));
            }
            var busContact= $('.businessName').val();
            var busContactPhone= $('.businessTel').val();
            var busModId= "25";
            var certAddress= $('.receiverAdd').val();
            var cityId= JSON.parse(localStorage.getItem('loginData')).cityId;
            var companyName= $('.companyNameText').val();
            var postscript= $('.remarkText').val();
            var techContact= $('.technicalName').val();
            var techContactPhone= $('.technicalTel').val();
            orderInfo= {
                "busContact": busContact,
                "busContactPhone": busContactPhone,
                "busModId": "25",
                "certAddress": certAddress,
                "cityId": cityId,
                "companyName": companyName,
                "goodsIds": goodsIds,
                "postscript": postscript,
                "techContact": techContact,
                "techContactPhone": techContactPhone
            }
            orderInfoData= {
                "companyName": companyName,
                "taxText": taxText,
                "busContact": busContact,
                "busContactPhone": busContactPhone,
                "techContact": techContact,
                "techContactPhone": techContactPhone,
                "postscript": postscript,
                "certAddress": certAddress,
                "price": '',
                "goodsList": ''
            }
            orderInfo= JSON.stringify(orderInfo);
            orderInfoData= JSON.stringify(orderInfoData);
            createOrder(url_order,type_order,orderInfo,targetUrl)
        })
    })
</script>
