<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>变更代跑</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="orderInfo">
                <p class="title">内资工商变更</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">变更方案<span class="colon">:</span></span>
                        <span class="labContent changePlan"></span>
                    </p>
                </div>
            </div>
            <div class="orderInfo">
                <p class="title">变更项目</p>
                <div class="content">
                    <table class="sealListBox pinchTable">
                        <tbody id="goodsList">
                            <!-- 项目列表 -->
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">所需材料</p>
                <p class="tipText">1 营业执照正副本，公章，转让方、受让方身份证原件，详细的转让情况信息，如果双方不能到场，需提供真实的签字。</p>
                <p class="tipText">2 龙华区必须双方到场，其他区会视情况可能要求到场，客户应当配合。</p>
                <p class="tipText">3 变更名称还需所有印章及刻章卡、法人身份证。</p>
                <p class="tipText">4 其它变更视情况提供所需的资料。</p>
                <p class="tipText">5 如果同时要变更地址，需提供合法的场所证明。</p>
                <p class="tipText">请把上述资料快递至聚雕网，快递时请附上寄送资料清单，不能提前寄送的资料，可随后与聚雕网跑手沟通何时交接。</p>
                <p class="tipText">若因甲方原因，比如预约之后资料提供不及时、爽约，窗口临时提出特殊要求客户到场而不能配合的，有黑户或其它客户自身问题，导致已进行办理的业务却办理失败的，聚雕网收取100元路费。</p>
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="javascript:void(0)" class="fr paymentBtn">微信支付</a>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        var targetUrl= pageUrl+'/pinch_form.html';
        var orderId= sessionStorage.getItem('orderId');
        var orderInfoData= JSON.parse(sessionStorage.getItem('pinchFormMes'));
        $('.orderInfo .companyName').text(orderInfoData.companyName);
        $('.orderInfo .changePlan').text(orderInfoData.changeType);
        $('.paymentBox .payAmount').text(orderInfoData.totalPrice);
        for (let i = 0; i < orderInfoData.goodsList.length; i++) {
            var goodsItem= '<tr class="sealItem">'+
                                '<td class= "sealName">'+orderInfoData.goodsList[i].title+'</td>'+
                                '<td class= "sealAccount">×1</td>'+
                                '<td class="sealPrice">￥'+orderInfoData.goodsList[i].price+'</td>'+
                            '</tr>'
            $('#goodsList').append(goodsItem);
        }

        $('.paymentBox .paymentBtn').on('touchend',function(){
            weChatPay(orderId,targetUrl)
        })
    })
</script>