<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>变更代跑</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="pinchFormContainer sealContainer">
        <div class="headerBar"></div>
        <div class="contentBox">
            <div class="upBox">
                <p class="title">内资工商变更</p>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;变更方案</p>
                    div
                </div>
            </div>
            
            <a href="javascript:void(0)" class="weui_btn weui_btn_primary nextBtn">下一步</a>
        </div>
    </div>
</body>
</html>
<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>