<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">
    <link rel="stylesheet" href="../css/index.css?v=1.0">
</head>
<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="orderInfo">
                <p class="title">红本合同信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">承租人性质<span class="colon">:</span></span>
                        <span class="labContent tenant text"></span>
                    </p>
                    <p class="orderItem legalItem">
                        <span class="labTitle">法人名称<span class="colon">:</span></span>
                        <span class="labContent legalName text"></span>
                    </p>
                    <p class="orderItem companyItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">所属地区<span class="colon">:</span></span>
                        <span class="labContent zoom text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">面积时长<span class="colon">:</span></span>
                        <span class="labContent type text"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">备注用途<span class="colon">:</span></span>
                        <span class="labContent remarkText text"></span>
                    </p>  
                    <p class="orderItem">
                        <span class="labTitle">是否需要租金发票<span class="colon">:</span></span>
                        <span class="labContent invoice text"></span>
                    </p>                  
                    <div class="orderItem">
                        <span class="labTitle">身份证正面<span class="colon">:</span></span>
                        <p class="labContent tradingPic">
                            <img class="showImg ID_up" src='' alt="">
                        </p>
                    </div>    
                    <div class="orderItem">
                        <span class="labTitle">身份证反面<span class="colon">:</span></span>
                        <p class="labContent tradingPic">
                            <img class="showImg ID_down" src='' alt="">
                        </p>
                    </div>                                                
                </div>
            </div>
            <div class="orderInfo">
                <p class="title">收货信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labContent userName"></span>    
                        <span class="labContent userTel"></span>
                    </p>    
                    <p class="orderItem">
                        <span class="labContent userAdd"></span>
                    </p>
                </div>  
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="./dev.html" class="fr paymentBtn">微信支付</a>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js?v=1.0"></script>
<script>
    $(function(){
        var orderId= sessionStorage.getItem('orderId');
        var targetUrl= pageUrl+'/redPact_form.html';
        var redOrderAbout = JSON.parse(sessionStorage.getItem('redFormMes')) ;
        console.log(redOrderAbout);
        $('.orderItem .tenant').text(redOrderAbout.tenantText);
        $('.orderItem .legalName').text(redOrderAbout.legalName);
        $('.orderItem .companyName').text(redOrderAbout.companyName);
        $('.orderItem .zoom').text(redOrderAbout.zoomText);
        $('.orderItem .type').text(redOrderAbout.acreageText);
        $('.orderItem .remarkText').text(redOrderAbout.postscript);
        $('.orderItem .invoice').text(redOrderAbout.invoiceText);
        $('.orderItem .userName').text(redOrderAbout.consignee);
        $('.orderItem .userTel').text(redOrderAbout.phone);
        $('.orderItem .userAdd').text(redOrderAbout.address);
        $('.payInfo .payAmount').text(redOrderAbout.orderAmount);

        $('.orderItem .labContent .ID_up').attr('src',redOrderAbout.legalCardFront);
        $('.orderItem .labContent .ID_down').attr('src',redOrderAbout.legalCardBack)
        if(redOrderAbout.legalName) {
            $('.containerOut .legalItem').css('display','block')
            $('.containerOut .companyItem').css('display','none')
        }else {
            $('.containerOut .legalItem').css('display','none')
            $('.containerOut .companyItem').css('display','block')
        }

        $('.paymentBox .paymentBtn').on('click',function(){
            weChatPay(orderId,targetUrl);
        })

    })
    
</script>
