<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>红本合同</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="sealContainer redPactContainer containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="upBox baseInfo">
                <p class="title">红本合同信息</p>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;所属办理区域</p>
                    <ul class="selectZoom checkZoom zoomList" id="area">
                        <!-- 办理区域 -->
                    </ul>
                </div>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;面积时长</p>
                    <ul class="selectZoom selectArea zoomList" id="acreageBox">
                        <!-- 面积时长 -->
                    </ul>
                </div>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;承租人性质</p>
                    <ul class="selectZoom selectTenant zoomList" id="tenantBox">
                        <!-- 承租人性质 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;法人名称</p>
                    <input class="placeholderText lawName" type="text" placeholder="请输入法人名称">
                </div>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;是否需要租金发票 <span class="text">(300元)</span> </p>
                    <ul class="selectZoom selectBill zoomList" id="invoiceBox">
                        <!-- 租金发票 -->
                    </ul>
                </div>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;用途备注</p>
                    <textarea class="uesText" name="" id="" cols="30" rows="10" placeholder="例: 注册、变更、续签、解除异常"></textarea>
                </div>
                <div class="formItem upload_ID clearfix uploadBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;所需材料 <span class="text">(照片必须清晰整齐)</span> </p>
                    <div class="picUp ID_img fl uploadIcon" style="position:relative">
                        <input class="idImg uploadInput" type="file" style="opacity:0;width:100%;height:100%;position:absolute;left:0px;" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg" style="display:block;margin:0 auto; height:100%;">
                        <span class="tipText"><span style="color:#CD0000;vertical-align: middle;">*</span>&nbsp;法人身份证正面</span>
                    </div>
                    <div class="picDown ID_img fr uploadIcon" style="position:relative">
                        <input class="idImg uploadInput" type="file" style="opacity:0;width:100%;height:100%; position:absolute;left:0px;" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg" style="display:block;margin:0 auto; height:100%;">
                        <span class="tipText"><span style="color:#CD0000;vertical-align: middle;">*</span>&nbsp;法人身份证反面</span>
                    </div>
                </div>
            </div>
            <div class="downBox receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">服务保障</p>
                <p class="tipText">1.聚雕网代办的红本可免费提供挂靠一年服务（接收工商、税务商事主体登记函）。</p>
                <p class="tipText">2.可配合工商税务或银行检查上门一次。（第一次上门免费，后续上门额外收费， 工商税务300元一次，银行检查1500元一次,自行提供招牌。）</p>
                <p class="tipText">3.个人名义办理的红本凭证，请在公司注册后及时把公司名称告知聚雕网，以免影响工商税务函件接收，导致地址异常。</p>            
            </div> 
        </div>
    </div>
    <div class="paymentBox">
        <span class="payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
        </span>
        <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>

    $(function(){
        // var url= baseUrl+'/api/redPact/list';
            // getArea(url,'post','4',traverseArea)
            
            // // 遍历区域
            // function traverseArea(res) {
            //     for (var i = 0; i < res.data.region.length; i++) {  
            //         if(i == 0) {
            //             var zoomItem= '<li index='+res.data.region[i].regionId+' class="checkedItem">'+res.data.region[i].name+'</li>'
            //         }else {
            //             var zoomItem= '<li index='+res.data.region[i].regionId+'>'+res.data.region[i].name+'</li>'
            //         }
            //         $('#area').append(zoomItem);
            //     }
            // }
            
            // $('.checkZoom>li').on('touchend',function(e){
            //     $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');
            //     var currentZoom = $(this).text();
            //     //红本合同模块
            //     if(currentZoom == "福田区") {
            //         var liList = '<li class="checkedItem" payPrice="1700.00">6m²/3月</li><li payPrice="2500.00">6m²/6月</li><li payPrice="3600.00">6m²/12月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('2000.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('1700.00');
            //         }
            //     }
            //     if(currentZoom == "龙岗区") {
            //         var liList = '<li class="checkedItem" payPrice="1600.00">5m²/3月</li><li payPrice="2400.00">5m²/6月</li><li payPrice="3400.00">5m²/12月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('1900.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('1600.00');
            //         }
            //     }
            //     if(currentZoom == "南山区") {
            //         var liList = '<li class="checkedItem" payPrice="2000.00">5m²/3月</li><li payPrice="2900.00">5m²/6月</li><li payPrice="4100.00">5m²/12月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('2300.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('2000.00');
            //         }
            //     }
            //     if(currentZoom == "宝安区") {
            //         var liList = '<li class="checkedItem" payPrice="4100.00">6m²/12月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('4400.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('4100.00');
            //         }
            //     }
            //     if(currentZoom == "罗湖区") {
            //         var liList = '<li class="checkedItem" payPrice="1700.00">6m²/3月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('2000.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('1700.00');
            //         }
            //     }
            //     if(currentZoom == "龙华区") {
            //         var liList = '<li class="checkedItem" payPrice="1700.00">6m²/3月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('2000.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('1700.00');
            //         }
            //     }
            //     if(currentZoom == "光明区") {
            //         var liList = '<li class="checkedItem" payPrice="1700.00">6m²/3月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('2000.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('1700.00');
            //         }
            //     }
            //     if(currentZoom == "大鹏新区") {
            //         var liList = '<li class="checkedItem" payPrice="1700.00">6m²/3月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('2000.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('1700.00');
            //         }
            //     }
            //     if(currentZoom == "坪山区") {
            //         var liList = '<li class="checkedItem" payPrice="1700.00">6m²/3月</li>'
            //         $('.selectArea').html(liList);
            //         if($('.selectBill>li.checkedItem').text() == '需要') {
            //             // $('.payInfo .payAmount').text('2000.00');
            //         }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //             // $('.payInfo .payAmount').text('1700.00');
            //         }
            //     }
            // })
            
            // $('.selectArea').on('touchend','li', function(e) {
            //     $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');
            //     if($('.selectBill>li.checkedItem').text() == '需要') {
            //         var payAmount= parseInt($(this).attr('payPrice')) + 300.00 +".00"
            //         // $('.payInfo .payAmount').text(payAmount);
            //     }else if($('.selectBill>li.checkedItem').text() == '不需要') {
            //         var payAmount= parseInt($(this).attr('payPrice')) +".00";
            //         // $('.payInfo .payAmount').text(payAmount);
            //     }
                
            // })

            // $('.selectBill>li').on('touchend',function(e) {
            //     $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');
            //     if($(this).text() == "需要") {
            //         var payAmount = parseInt($('.selectArea>li.checkedItem').attr('payPrice')) + 300.00 +".00";
            //         // $('.payInfo .payAmount').text(payAmount);
            //     }else if($(this).text() == "不需要") {
            //         var payAmount = parseInt($('.selectArea>li.checkedItem').attr('payPrice')) +".00";               
            //         // $('.payInfo .payAmount').text(payAmount);
            //     }
                
            // })
        
            // // 点击下一步提交订单
            // $('.nextBtn').on('touchend',function(e){
            //     var orderInfo = {};
            //     var zoomArea = $('.checkZoom li.checkedItem').text(); // 办理区域
            //     var timeArea = $('.selectArea li.checkedItem').text(); // 面积时长
            //     var tenantType = $('.selectTenant li.checkedItem').text(); // 承租人性质
            //     var moneyBill = $('.selectBill li.checkedItem').text(); // 租金发票           
            //     var lawName = $('.lawName').val(); // 法人名称;
            //     var useText = $('.uesText').val(); // 用途备注
            //     var receiverName = $('.receiverName').val(); // 收货人姓名
            //     var receiverTel = $('.receiverTel').val(); // 收货人电话
            //     var receiverAdd = $('.receiverAdd').val(); // 收货地址
            //     var payAmount = $('.payAmount').text(); //订单总金额
            //     // 上传身份证
            //     var ID_src= {'up': $('.picUp .showImg').attr('src'),'down': $('.picDown .showImg').attr('src') }
                
            //     orderInfo = {
            //         'zoomArea': zoomArea,
            //         'timeArea': timeArea,
            //         'tenantType': tenantType,
            //         'moneyBill': moneyBill,
            //         'lawName': lawName,
            //         'useText': useText,
            //         'receiverName': receiverName,                
            //         'receiverTel': receiverTel,
            //         'receiverAdd': receiverAdd,
            //         'orderAmount': payAmount,
            //         'ID_pic': ID_src
            //     };

            //     // 正则验证表单信息
            //     if(lawName == ''){ //验证法人名称
            //         layer.msg('请输入法人名称');
            //         return;
            //     }

            //     if(useText == ''){ //验证用途备注
            //         layer.msg('请输用途类型');
            //         return;
            //     }

            //     if(receiverName == ''){ //验证收货人姓名
            //         layer.msg('请输入收货人姓名');
            //         return;
            //     }

            //     if(receiverTel == ''){ //验证收货人电话
            //         layer.msg('请输入收货人电话');
            //         return;
            //     }else if(!(/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(receiverTel))) {
            //         layer.msg('请填写正确的收货人电话');
            //         return;
            //     }

            //     if(receiverAdd == ''){ //验证收货人地址
            //         layer.msg('请输入收货人地址');
            //         return;
            //     }

            //     sessionStorage.setItem("redlFormMes", JSON.stringify(orderInfo));

            //     window.location.href = "./redPact_order.html"

            //     e.preventDefault();
        // })
        
        // 办理区域
        function zoomList(res){
            for (var i = 0; i < res.data.region.length; i++) {  
                if(i == 0) {
                    var zoomItem= '<li class="checkedItem zoomItem" regionId='+res.data.region[i].regionId+'>'+res.data.region[i].name+'</li>'
                }else {
                    var zoomItem= '<li class="zoomItem" regionId='+res.data.region[i].regionId+'>'+res.data.region[i].name+'</li>'
                }
                $('#area').append(zoomItem);
            }
        }

        // 面积时长
        function acreageList(res){
            for (var i = 0; i < res.data.goods[0].goods.length; i++) {  
                if(i == 0) {
                    var acreageItem= '<li class="checkedItem acreageItem" retailPrice="'+res.data.goods[0].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[0].goods[i].marketPrice+'"  goodsId="'+res.data.goods[0].goods[i].id+'">'+res.data.goods[0].goods[i].name+'</li>'
                }else {
                    var acreageItem= '<li class="acreageItem" retailPrice="'+res.data.goods[0].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[0].goods[i].marketPrice+'"  goodsId="'+res.data.goods[0].goods[i].id+'">'+res.data.goods[0].goods[i].name+'</li>'
                }
                $('#acreageBox').append(acreageItem);
            }
        }

        // 承租人性质
        function tenantList(res){
            for (var i = 0; i < res.data.goods[1].goods.length; i++) {  
                if(i == 0) {
                    var tenantItem= '<li class="checkedItem" retailPrice="'+res.data.goods[1].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[1].goods[i].marketPrice+'"  goodsId="'+res.data.goods[1].goods[i].id+'">'+res.data.goods[1].goods[i].name+'</li>'
                }else {
                    var tenantItem= '<li retailPrice="'+res.data.goods[1].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[1].goods[i].marketPrice+'"  goodsId="'+res.data.goods[1].goods[i].id+'">'+res.data.goods[1].goods[i].name+'</li>'
                }
                $('#tenantBox').append(tenantItem);
            }
        }

        // 是否需要租金发票
        function invoiceList(res){
            for (var i = 0; i < res.data.goods[2].goods.length; i++) {  
                if(i == 0) {
                    var invoiceItem= '<li class="checkedItem" retailPrice="'+res.data.goods[2].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[2].goods[i].marketPrice+'"  goodsId="'+res.data.goods[2].goods[i].id+'">'+res.data.goods[2].goods[i].name+'</li>'
                }else {
                    var invoiceItem= '<li retailPrice="'+res.data.goods[2].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[2].goods[i].marketPrice+'"  goodsId="'+res.data.goods[2].goods[i].id+'">'+res.data.goods[2].goods[i].name+'</li>'
                }
                $('#invoiceBox').append(invoiceItem);
            }
        }

        function callback_list(res){
            zoomList(res);
            acreageList(res);
            tenantList(res);
            invoiceList(res);    
        } 

        var url_list= baseUrl+'/api/redPact/list';
        var url_order= baseUrl+'/api/redPact/createOrder';
        var type_list= 'post';
        var type_order= 'post';
        var orderInfo= {};
        var orderInfoData= {};
        var targetUrl= pageUrl+'/redPact_order.html';
        var parameters_list= {
            busModId: "4",// 红本合同
            cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
        }

        getFormData(url_list,type_list,parameters_list,callback_list)

        $('#area').on('touchend','.zoomItem',function(){
            var zoomId= $(this).attr('regionId');
            var parametersItem= {
                busModId: "4",// 红本合同
                cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
                regionId: zoomId
            }
            $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');
            $('#acreageBox').empty();
            getFormData(url_list,type_list,parametersItem,acreageList)
        })

        // 下单
        $('.paymentBox .nextBtn').on('touchend',function(){

            createOrder(url_order,type_order,orderInfo,targetUrl);
        })
    })
 
</script>

