<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="sealOrderContainer sealContainer redPactOrderContainer">
        <div class="headerBar"></div>
        <div class="orderAbout seal_information">
            <p class="orderAbout_title">红本合同信息</p>
            <div class="orderAbout_content">
                <p class="informationItem">承租人性质:&nbsp;<span class="tenant text">法人</span></p>
                <p class="informationItem legalItem">法人名称:&nbsp;<span class="legalName text"></span></p>
                <p class="informationItem companyItem">公司名称:&nbsp;<span class="companyName text"></span></p>
                <p class="informationItem">所属地区:&nbsp;<span class="zoom text">龙华区</span></p>
                <p class="informationItem">面积时长:&nbsp;<span class="type text">6m²/3月</span></p>
                <p class="informationItem">备注用途:&nbsp;<span class="remarkText text">变更</span></p>  
                <p class="informationItem">是否需要租金发票:&nbsp;<span class="invoice text">否</span></p>                  
                <p class="informationItem">身份证正面:<p class="tradingPic"><img class="ID_up" src="" alt=""></p></p>    
                <p class="informationItem">身份证反面:<p class="tradingPic"><img class="ID_down" src="" alt=""></p></p>                                                
            </div>
        </div>
        <div class="orderAbout receive_address">
            <p class="orderAbout_title">收货信息</p>
            <div class="orderAbout_content">
                <p class="userInfo">
                    <span class="userName">张晓东</span>    
                    <span class="userTel">18603059551</span>
                </p>    
                <p class="userInfo">
                    <span class="userAdd">广东省深圳市龙华新区东环一路壹城中心E区2栋909</span>
                </p>
            </div>  
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="./dev.html" class="fr paymentBtn">微信支付</a>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        var orderId= sessionStorage.getItem('orderId');
        var targetUrl= pageUrl+'/redPact_form.html';
        var redOrderAbout = JSON.parse(sessionStorage.getItem('redFormMes')) ;
        console.log(redOrderAbout);
        $('.informationItem .tenant').text(redOrderAbout.tenantText);
        $('.informationItem .legalName').text(redOrderAbout.legalName);
        $('.informationItem .companyName').text(redOrderAbout.companyName);
        $('.informationItem .zoom').text(redOrderAbout.zoomText);
        $('.informationItem .type').text(redOrderAbout.acreageText);
        $('.informationItem .remarkText').text(redOrderAbout.postscript);
        $('.informationItem .invoice').text(redOrderAbout.invoiceText);
        $('.userInfo .userName').text(redOrderAbout.consignee);
        $('.userInfo .userTel').text(redOrderAbout.phone);
        $('.userInfo .userAdd').text(redOrderAbout.address);
        $('.payInfo .payAmount').text(redOrderAbout.orderAmount);

        $('.ID_up').attr('src',redOrderAbout.legalCardFront);
        $('.ID_down').attr('src',redOrderAbout.legalCardBack)
        if(redOrderAbout.legalName) {
            $('.redPactOrderContainer .legalItem').css('display','block')
            $('.redPactOrderContainer .companyItem').css('display','none')
        }else {
            $('.redPactOrderContainer .legalItem').css('display','none')
            $('.redPactOrderContainer .companyItem').css('display','block')
        }

        $('.paymentBox .paymentBtn').on('touchend',function(){
            weChatPay(orderId,targetUrl);
        })

    })
    
</script>
