<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>红本合同</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="baseInfo">
                <p class="title">红本合同信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>所属办理区域</p>
                    <ul class="selectZoom checkZoom zoomList" id="area">
                        <!-- 办理区域 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>面积时长</p>
                    <ul class="selectZoom selectArea zoomList" id="acreageBox">
                        <!-- 面积时长 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>承租人性质</p>
                    <ul class="selectZoom selectTenant zoomList" id="tenantBox">
                        <!-- 承租人性质 -->
                    </ul>
                </div>
                <div class="formItem legalItem">
                    <p class="labTitle"><span class="isRequired">*</span>法人名称</p>
                    <input class="placeholderText lawName" type="text" placeholder="请输入法人名称">
                </div>
                <div class="formItem companyItem" style="display: none">
                    <p class="labTitle"><span class="isRequired">*</span>公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>是否需要租金发票 <span class="text">(300元)</span> </p>
                    <ul class="selectZoom selectBill zoomList" id="invoiceBox">
                        <!-- 租金发票 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>用途备注</p>
                    <textarea class="remarkText" name="" id="" cols="30" rows="10" placeholder="例: 注册、变更、续签、解除异常"></textarea>
                </div>
                <div class="formItem upload_ID clearfix">
                    <p class="labTitle"><span class="isRequired">*</span>所需材料 <span class="text">(照片必须清晰整齐)</span> </p>
                    <div class="picUp ID_img fl uploadBox fileBox">
                        <input class="idImg uploadInput" type="file" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">法人身份证正面<span class="requiredFlag">*</span></p>
                    </div>
                    <div class="picDown ID_img fr uploadBox fileBox">
                        <input class="idImg uploadInput" type="file" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                        <p class="typeText">法人身份证反面<span class="requiredFlag">*</span></p>
                    </div>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <div class="tipBox">
                <p class="tipTitle">服务保障</p>
                <p class="tipText">1.聚雕网代办的红本可免费提供挂靠一年服务（接收工商、税务商事主体登记函）。</p>
                <p class="tipText">2.可配合工商税务或银行检查上门一次。（第一次上门免费，后续上门额外收费， 工商税务300元一次，银行检查1500元一次,自行提供招牌。）</p>
                <p class="tipText">3.个人名义办理的红本凭证，请在公司注册后及时把公司名称告知聚雕网，以免影响工商税务函件接收，导致地址异常。</p>            
            </div> 
        </div>
    </div>
    <div class="paymentBox">
        <span class="payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>            
        </span>
        <a href="javascript:void(0)" class="fr nextBtn paymentBtn">下一步</a>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>

    $(function(){
        
        // 办理区域
        function zoomList(res){
            for (var i = 0; i < res.data.region.length; i++) {  
                if(i == 0) {
                    var zoomItem= '<li class="checkedItem zoomItem" regionId='+res.data.region[i].regionId+'>'+res.data.region[i].name+'</li>'
                }else {
                    var zoomItem= '<li class="zoomItem" regionId='+res.data.region[i].regionId+'>'+res.data.region[i].name+'</li>'
                }
                $('#area').append(zoomItem);
            }
        }

        // 面积时长
        function acreageList(res){
            for (var i = 0; i < res.data.goods[0].goods.length; i++) {  
                if(i == 0) {
                    var acreageItem= '<li class="checkedItem acreageItem" retailPrice="'+res.data.goods[0].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[0].goods[i].marketPrice+'"  goodsId="'+res.data.goods[0].goods[i].id+'">'+res.data.goods[0].goods[i].name+'</li>'
                }else {
                    var acreageItem= '<li class="acreageItem" retailPrice="'+res.data.goods[0].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[0].goods[i].marketPrice+'"  goodsId="'+res.data.goods[0].goods[i].id+'">'+res.data.goods[0].goods[i].name+'</li>'
                }
                $('#acreageBox').append(acreageItem);
            }
            var orderAmount= $('#acreageBox .checkedItem').attr('retailPrice');
            $('.paymentBox .payAmount').text(orderAmount);
        }

        // 承租人性质
        function tenantList(res){
            for (var i = 0; i < res.data.goods[1].goods.length; i++) {  
                if(i == 0) {
                    var tenantItem= '<li class="checkedItem tenantItem" retailPrice="'+res.data.goods[1].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[1].goods[i].marketPrice+'"  goodsId="'+res.data.goods[1].goods[i].id+'">'+res.data.goods[1].goods[i].name+'</li>'
                }else {
                    var tenantItem= '<li class="tenantItem" retailPrice="'+res.data.goods[1].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[1].goods[i].marketPrice+'"  goodsId="'+res.data.goods[1].goods[i].id+'">'+res.data.goods[1].goods[i].name+'</li>'
                }
                $('#tenantBox').append(tenantItem);
            }
        }

        // 是否需要租金发票
        function invoiceList(res){
            for (var i = 0; i < res.data.goods[2].goods.length; i++) {  
                if(i == 0) {
                    var invoiceItem= '<li class="checkedItem invoiceItem" retailPrice="'+res.data.goods[2].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[2].goods[i].marketPrice+'"  goodsId="'+res.data.goods[2].goods[i].id+'">'+res.data.goods[2].goods[i].name+'</li>'
                }else {
                    var invoiceItem= '<li  class="invoiceItem" retailPrice="'+res.data.goods[2].goods[i].retailPrice+'"  marketPrice="'+res.data.goods[2].goods[i].marketPrice+'"  goodsId="'+res.data.goods[2].goods[i].id+'">'+res.data.goods[2].goods[i].name+'</li>'
                }
                $('#invoiceBox').append(invoiceItem);
            }
        }

        function callback_list(res){
            zoomList(res);
            acreageList(res);
            tenantList(res);
            invoiceList(res);    
        } 

        var url_list= baseUrl+'/api/redPact/list';
        var url_order= baseUrl+'/api/redPact/createOrder';
        var type_list= 'post';
        var type_order= 'post';
        var orderInfo= {};
        var orderInfoData= {};
        var goodsIds= [];
        var targetUrl= pageUrl+'/redPact_order.html';
        // var targetUrl= './redPact_order.html';
        var parameters_list= {
            busModId: "4",// 红本合同
            cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
        }

        getFormData(url_list,type_list,parameters_list,callback_list)

        // 点击办理区域
        $('#area').on('touchend','.zoomItem',function(){
            var zoomId= $(this).attr('regionId');
            var parametersItem= {
                busModId: "4",// 红本合同
                cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
                regionId: zoomId
            }
            $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');
            $('#acreageBox').empty();
            getFormData(url_list,type_list,parametersItem,acreageList)
        })

        // 点击面积时长
        $('#acreageBox').on('touchend','.acreageItem',function(){
            $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');            
            var orderAmount= $(this).attr('retailprice');
            $('.paymentBox .payAmount').text(orderAmount);
        })

        // 点击承租人性质
        $('#tenantBox').on('touchend','.tenantItem',function(){
            $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');            
            if($(this).text() == "法人"){
                $('.baseInfo .legalItem').css('display','block');
                $('.baseInfo .companyItem').css('display','none');
            }else {
                $('.baseInfo .legalItem').css('display','none');
                $('.baseInfo .companyItem').css('display','block');
            }
        })

        // 点击是否需要租金发票
        $('#invoiceBox').on('touchend','.invoiceItem',function(){
            $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');            
            if($(this).text() == "需要"){
                var orderAmount=  Number($('.paymentBox .payAmount').text()) + 300;
                $('.paymentBox .payAmount').text(orderAmount);
            }else {
                var orderAmount= $('#acreageBox .checkedItem').attr('retailPrice');
                $('.paymentBox .payAmount').text(orderAmount);
            }
        })

        // 下单
        $('.paymentBox .nextBtn').on('touchend',function(){
            var zoomText= $('#area .checkedItem').text();
            var zoomId= $('#area .checkedItem').attr('regionId');
            var acreageId= $('#acreageBox .checkedItem').attr('goodsId');
            var tenantId= $('#tenantBox .checkedItem').attr('goodsId');
            var invoiceId= $('#invoiceBox .checkedItem').attr('goodsId');
            var acreageText= $('#acreageBox .checkedItem').text();
            var tenantText= $('#tenantBox .checkedItem').text();
            var invoiceText= $('#invoiceBox .checkedItem').text();
            goodsIds= [acreageId,tenantId,invoiceId];
            var legalName= $('.baseInfo .formItem .lawName').val();
            var remarkText= $('.baseInfo .formItem .remarkText').val();
            var ID_up= $('.baseInfo .picUp .showImg').attr('src');
            var ID_down= $('.baseInfo .picDown .showImg').attr('src');
            var receiverName= $('.receiveInfo .receiverName').val();
            var receiverTel= $('.receiveInfo .receiverTel').val();
            var receiverAdd= $('.receiveInfo .receiverAdd').val();
            var orderAmount= $('.paymentBox .payAmount').text();
            var companyName= $('.baseInfo .companyItem .companyName').val();

            orderInfo=  {
                "address": receiverAdd,
                "busModId": 4,
                "cityId": JSON.parse(localStorage.getItem('loginData')).cityId,
                "companyName": companyName,
                "consignee": receiverName,
                "goodsIds": goodsIds,
                "legalCardBack": ID_down,
                "legalCardFront": ID_up,
                "legalName": legalName,
                "phone": receiverTel,
                "postscript": remarkText
            };

            orderInfoData= {
                "address": receiverAdd,
                "companyName": companyName,
                "consignee": receiverName,
                "zoomText": zoomText,
                "acreageText": acreageText,
                "tenantText": tenantText,
                "invoiceText": invoiceText,
                "legalCardBack": ID_down,
                "legalCardFront": ID_up,
                "legalName": legalName,
                "phone": receiverTel,
                "postscript": remarkText,
                "orderAmount": orderAmount
            };  
            
            orderInfo= JSON.stringify(orderInfo);
            orderInfoData= JSON.stringify(orderInfoData);
            sessionStorage.setItem('redFormMes',orderInfoData);

            createOrder(url_order,type_order,orderInfo,targetUrl);
        })
    })
 
</script>

