<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>前海地址续签</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>
<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="orderInfo">
                <p class="title">公司信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">商密账号<span class="colon">:</span></span>
                        <span class="labContent busSecretAcc"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">商密密码<span class="colon">:</span></span>
                        <span class="labContent busSecretPwd"></span>
                    </p>
                   <p class="orderItem">
                        <span class="labTitle">营业执照<span class="colon">:</span></span>
                        <p class="labContent tradingPic">
                            <img class="showImg busLicenseCopy" style="width:100%;" src='' alt="">
                        </p>
                    </p>
                </div>
            </div>
    
            <div class="orderInfo">
                <p class="title">股东信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">股东身份<span class="colon">:</span></span>
                        <span class="labContent legalType"></span>
                    <p class="orderItem natureItem">
                        <span class="labTitle">姓名<span class="colon">:</span></span>
                        <span class="labContent legalName"></span>
                    </p>
                    <p class="orderItem legalItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent legalCompanyName"></span>
                    </p>
                   <p class="orderItem natureItem">
                       <span class="labTitle">身份证正面<span class="colon">:</span></span>
                       <p class="labContent tradingPic">
                           <img class="showImg ID_up" style="width:100%;" src='' alt="">
                       </p>
                    </p>
                   <p class="orderItem natureItem">
                       <span class="labTitle">身份证反面<span class="colon">:</span></span>
                       <p class="labContent tradingPic">
                           <img class="showImg ID_down" style="width:100%;" src='' alt="">
                       </p>
                    </p>
                   <p class="orderItem legalItem">
                       <span class="labTitle">营业执照<span class="colon">:</span></span>
                       <p class="labContent tradingPic">
                           <img class="showImg busLicenseCopy" style="width:100%;" src='' alt="">
                       </p>
                    </p>
                </div>
            </div>
    
            <div class="orderInfo">
                <p class="title">收货信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labContent userName"></span>
                        <span class="labContent userTel"></span>                        
                    </p>    
                    <p class="orderItem">
                        <span class="labContent userAdd"></span>
                    </p>
                </div>  
            </div>
        </div>
        <div class="paymentBox clearfix">
            <span class="fl payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
            </span>
            <a href="javascript:void(0)" class="fr paymentBtn">微信支付</a>
        </div>
    </div>
</body>
</html>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        var orderInfoData= JSON.parse(sessionStorage.getItem('renewFormMes'));
        console.log(orderInfoData)
        var orderId= sessionStorage.getItem('orderId');
        var targetUrl= 'http://judiaowang.cn/app/view/renewAdd_form.html';
        $('.paymentBox .payAmount').text(orderInfoData.orderAmount);
        
        $('.orderInfo .companyName').text(orderInfoData.companyName);
        $('.orderInfo .busSecretAcc').text(orderInfoData.busSecretAcc);
        $('.orderInfo .busSecretPwd').text(orderInfoData.busSecretPwd);
        $('.orderInfo .busLicenseCopy').attr('src',orderInfoData.busLicenseCopy);
        $('.orderInfo .legalType').text(orderInfoData.legalType);
        if(orderInfoData.legalType == '自然人') {
            $('.orderInfo .natureItem').css('display','block'); 
            $('.orderInfo .legalItem').css('display','none'); 
            $('.orderInfo .legalName').text(orderInfoData.corpList[0].name);
            $('.orderInfo .ID_up').attr('src',orderInfoData.corpList[0].idCardBack);
            $('.orderInfo .ID_down').attr('src',orderInfoData.corpList[0].idCardFront);
        }else if(orderInfoData.legalType == '法人') {
            $('.orderInfo .legalItem').css('display','block');
            $('.orderInfo .natureItem').css('display','none');
            $('.legalItem .legalCompanyName').text(orderInfoData.corpList[0].companyName);
            $('.legalItem .busLicenseCopy').attr('src',orderInfoData.legalCardFront);
        }
        

        $('.orderInfo .userName').text(orderInfoData.consignee);
        $('.orderInfo .userTel').text(orderInfoData.phone);
        $('.orderInfo .userAdd').text(orderInfoData.address);

        $('.paymentBox .paymentBtn').on('touchend',function(){
            weChatPay(orderId,targetUrl);
        })
    })
</script>