<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="sealContainer">
        <div class="headerBar"></div>
        <div class="contentBox">
            <div class="upBox">
                <p class="title">刻章信息</p>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <!-- <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;法人身份证号码</p>
                    <input class="placeholderText personID" type="text" placeholder="请输入法人身份证号码">
                </div> -->
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;办理区域</p>
                    <ul class="selectZoom checkZoom">
                        <li class="checkedItem">罗湖区</li>
                        <li>南山区</li>
                        <li>宝安区</li>
                        <li>福田区</li>
                        <li>龙华区</li>
                        <li>龙岗区</li>
                        <li>光明区</li>
                        <li>坪山区</li>
                        <li>大鹏新区</li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;印章种类&nbsp;<span style="color:#ccc">(刻章包邮,送私章)</span></p>
                    <ul class="sealBox">
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">公章</span>
                            <span class="sealPrice">￥110.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">注销公章</span>
                            <span class="sealPrice cancelSealPri">￥24.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">财务章</span>
                            <span class="sealPrice">￥110.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">注销财务章</span>
                            <span class="sealPrice cancelSealPri">￥24.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">发票章</span>
                            <span class="sealPrice">￥110.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">注销发票章</span>
                            <span class="sealPrice cancelSealPri">￥24.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">合同章</span>
                            <span class="sealPrice">￥110.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">注销合同章</span>
                            <span class="sealPrice cancelSealPri">￥24.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem sealPri">
                            <img src="../img/sealPri.jpg" alt="">
                            <span class="sealType">私章</span>
                            <span class="sealPrice personalPri">￥0.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle">上传营业执照&nbsp;<span style="color:#ccc">(刻章码短信或领证通知短信)</span></p>
                    <div class="uploadBox uploadIcon">
                        <input type="file" class="uploadInput" style="opacity:0;position:absolute;width:13.125rem; height:8.75rem;" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg" style="display:block;margin:0 auto; height:100%;">
                    </div>
                </div>
            </div>
            <div class="downBox">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
                <div class="formItem">
                    <p class="labTitle">备注</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="如需其它服务请备注"></textarea>
                </div>
            </div>
            <a href="javascript:void(0)" class="weui_btn weui_btn_primary nextBtn">下一步</a>
        </div>
    </div>
</body>

</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        // 选择区域
        $('.checkZoom>li').on('touchend',function(e){
            $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');
            var currentZoom = $(this).text();
            //刻章模块
            if(currentZoom == "福田区" || currentZoom == "罗湖区" || currentZoom == "龙岗区") {
                $('.sealPrice').text('￥110.00')
            }else if(currentZoom == "宝安区" || currentZoom == "南山区") {
                $('.sealPrice').text('￥100.00')
            }else if(currentZoom == "龙华区" || currentZoom == "光明区") {
                $('.sealPrice').text('￥90.00')
            }else if(currentZoom == "坪山区") {
                $('.sealPrice').text('￥140.00')
            }else if(currentZoom == "大鹏新区") {
                $('.sealPrice').text('￥120.00')
            };
            $('.cancelSealPri').text('￥24.00');
            $('.sealPri .personalPri').text('￥0.00');
        })

        // 点击下一步提交订单
        $('.nextBtn').on('touchend',function(e){
            var orderInfo = {};
            var companyName = $('.companyName').val(); // 获取公司名称
            var personID = $('.personID').val(); // 获取法人身份证
            var zoomArea = $('.selectZoom li.checkedItem').text(); // 办理区域
            var receiverName = $('.receiverName').val(); // 收货人姓名
            var receiverTel = $('.receiverTel').val(); // 收货人电话
            var receiverAdd = $('.receiverAdd').val(); // 收货地址
            var remarkText = $('.remarkText').val(); // 备注信息
            var showImgSrc= $('.showImg').attr('src') // 上传图片url地址
            // 购买印章信息
            var seal_goods= [];
            var addBtnList = $('.addBtn');
            for (let i = 0; i < addBtnList.length; i++) {
                if($(addBtnList[i]).text() == "已添加"){
                    var type = $(addBtnList[i]).siblings('.sealType').text();
                    var price = $(addBtnList[i]).siblings('.sealPrice').text().replace('￥','');
                    var sealItem = {typeAbout:type,priceAbout:price}
                    seal_goods.push(sealItem);
                }else {
                    continue;
                }
                
            }
            orderInfo = {
                'companyName': companyName,
                'personID': personID,
                'zoomArea': zoomArea,
                'seal_goods': seal_goods,
                'receiverName': receiverName,
                'receiverTel': receiverTel,
                'receiverAdd': receiverAdd,
                'remarkText': remarkText,
                'uploadImg':showImgSrc
            };

            // 正则验证表单信息
            if(companyName == ''){ //验证公司名称
                layer.msg('请输入公司名称');
                return;
            }

            // if(personID == ''){ //验证法人身份证
            //     layer.msg('请输入法人身份证');
            //     return;
            // }else if(!(/^([0-9]){7,18}(x|X)?$ 或 ^\d{8,18}|[0-9x]{8,18}|[0-9X]{8,18}?$/.test(personID))) {
            //     layer.msg('请填写正确的身份证号码');
            //     return;
            // }

            if(receiverName == ''){ //验证收货人姓名
                layer.msg('请输入收货人姓名');
                return;
            }

            if(receiverTel == ''){ //验证收货人电话
                layer.msg('请输入收货人电话');
                return;
            }else if(!(/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(receiverTel))) {
                layer.msg('请填写正确的收货人电话');
                return;
            }

            if(receiverAdd == ''){ //验证收货人地址
                layer.msg('请输入收货人地址');
                return;
            }

            if(seal_goods.length == 0) {
                layer.msg('请选择需要购买的印章')
                return;
            }

            sessionStorage.setItem("sealFormMes", JSON.stringify(orderInfo));

            window.location.href = "../view/seal_order.html"

            e.preventDefault();
        })
    })
 
</script>