<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="sealContainer sealOrderContainer">
        <div class="headerBar"></div>
        <div class="orderAbout seal_information">
            <p class="orderAbout_title">刻章信息</p>
            <div class="orderAbout_content">
                <p class="informationItem">公司名称:&nbsp;<span class="companyName"></span></p>
                <p class="informationItem">法人身份证号码:&nbsp;<span class="ID"></span></p>
                <p class="informationItem">办理区域:&nbsp;<span class="zoom"></span></p>
                <p class="informationItem">备注:&nbsp;<span class="remarkText"></span></p>  
                <p class="informationItem">营业执照:<p class="tradingPic"><img src="../img/tradingPic.jpg" alt=""></p></p>                                
            </div>

        </div>
        <div class="orderAbout seal_goods">
            <p class="orderAbout_title">选购印章</p>
            <div class="orderAbout_content">
                <table class="sealListBox">
                    <tbody id="sealList">

                    </tbody>
                </table>
            </div>
        </div>
        <div class="orderAbout receive_address">
            <p class="orderAbout_title">收货信息</p>
            <div class="orderAbout_content">
                <p class="userInfo">
                    <span class="userName"></span>    
                    <span class="userTel"></span>
                </p>    
                <p class="userInfo">
                    <span class="userAdd"></span>
                </p>
            </div>  
        </div>
        <div class="tipBox">
            <p class="tipTitle">温馨提示</p>
            <p class="tipText">1、工作日下午五点前下的刻章订单，次日安排寄出</p>
            <p class="tipText">2、因政策原因，聚雕网只承接3个月之内新注册公司的刻章业务，请您核实公司注册日期，暂不承接变更及遗失补刻，以免产生不必要的退款。</p>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="payAmount">￥420.00</span>
        </span>
        <a href="javascript:;" class="fr paymentBtn">微信支付</a>
    </div>
</body>

</html>


<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script>
    $(function(){
        var sealOrderAbout = JSON.parse(sessionStorage.getItem('sealFormMes')) ;
        $('.informationItem .companyName').text(sealOrderAbout.companyName);
        $('.informationItem .ID').text(sealOrderAbout.personID);
        $('.informationItem .zoom').text(sealOrderAbout.zoomArea);
        $('.informationItem .remarkText').text(sealOrderAbout.remarkText);
        $('.userInfo .userName').text(sealOrderAbout.receiverName);
        $('.userInfo .userTel').text(sealOrderAbout.receiverTel);
        $('.userInfo .userAdd').text(sealOrderAbout.receiverAdd);
        

        for (let i = 0; i < sealOrderAbout.seal_goods.length; i++) {
            var imgSrc = '../img/sealPub.jpg';
            if(sealOrderAbout.seal_goods[i].typeAbout == '私章') {
                imgSrc = "../img/sealPri.jpg"
            }
            var trItem = '<tr class="sealItem">'+
                                '<td class="sealIcon">'+
                                    '<img src='+imgSrc+' alt="">'+
                                '</td>'+
                                '<td class="sealName">'+sealOrderAbout.seal_goods[i].typeAbout+'</td>'+
                                '<td class="sealAccount">×1</td>'+
                                '<td class="sealPrice">￥'+sealOrderAbout.seal_goods[i].priceAbout+'</td>'+
                            '</tr>'
            $('#sealList').append(trItem);                
        }
    })
    
</script>
