<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="sealContainer">
        <div class="headerBar"></div>
        <div class="contentBox">
            <div class="upBox">
                <p class="title">刻章信息</p>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText" type="text" placeholder="请输入公司名称">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;法人身份证号码</p>
                    <input class="placeholderText" type="text" placeholder="请输入法人身份证号码">
                </div>
                <div class="formItem selectZoomBox">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;办理区域</p>
                    <ul class="selectZoom">
                        <li class="checkedItem">罗湖区</li>
                        <li>南山区</li>
                        <li>宝安区</li>
                        <li>福田区</li>
                        <li>龙华区</li>
                        <li>龙岗区</li>
                        <li>光明区</li>
                        <li>坪山区</li>
                        <li>大鹏新区</li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;印章种类&nbsp;<span style="color:#ccc">(公章必须选择)</span></p>
                    <ul class="sealBox">
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">公章</span>
                            <span class="sealPrice">￥130.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">财务章</span>
                            <span class="sealPrice">￥100.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">发票章</span>
                            <span class="sealPrice">￥160.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem">
                            <img src="../img/sealPub.jpg" alt="">
                            <span class="sealType">合同章</span>
                            <span class="sealPrice">￥150.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                        <li class="sealItem sealPri">
                            <img src="../img/sealPri.jpg" alt="">
                            <span class="sealType">私章</span>
                            <span class="sealPrice">￥130.00</span>
                            <button class="addBtn"><span>+</span>添加</button>
                        </li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;上传营业执照</p>
                    <!-- <input class="uploadFile" type="file"> -->
                    <div class="uploadBox">
                        <!-- <input type="file" style="opacity:0;width:100%;height:100%;position:absolute;top:0;left:0"> -->
                        <input type="file" style="opacity:0;">
                        <img src="" alt="">
                        <!-- 文件上传成功后显示预览图片 -->
                    </div>
                </div>
            </div>
            <div class="downBox">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;联系人</p>
                    <input class="placeholderText" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span style="color:#CD0000">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText" type="text" placeholder="请输入收货地址">
                </div>
                <div class="formItem">
                    <p class="labTitle">备注</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="如需其它服务请备注"></textarea>
                </div>
            </div>
            <a href="javascript:;" class="weui_btn weui_btn_primary nextBtn">下一步</a>
        </div>
    </div>
</body>

</html>