<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="Content-Type"  content="multipart/form-data; charset=utf-8" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企业刻章</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../lib/layer/mobile/need/layer.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="contentBox containerInner">
            <div class="baseInfo">
                <p class="title">刻章信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>办理原因</p>
                    <ul class="pinchZoom zoomList" id="changeType">
                        <li class="checkedItem">成立三个月以内</li>
                        <li>公司名称变更</li>
                        <li>成立三个月以上</li>
                        <li>遗失补刻</li>
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;公司名称</p>
                    <input class="placeholderText companyName" type="text" placeholder="请输入公司名称">
                </div>
                <!-- <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;法人身份证号码</p>
                    <input class="placeholderText personID" type="text" placeholder="请输入法人身份证号码">
                </div> -->
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;办理区域</p>
                    <ul class="selectZoom zoomList" id="sealZoom">
                        <!-- 刻章选择办理区域 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;印章种类&nbsp;<span class="addText">(刻章包邮,送私章)</span></p>
                    <ul class="sealBox" id="openSealList">
                        <!-- 刻章列表 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle">注销印章&nbsp;<span class="addText">(注销印章免费,包邮24元)</span></p>
                    <ul class="closeSeal" id="closeSealList">
                        <!-- 注销章列表 -->
                    </ul>
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>上传营业执照&nbsp;<span class="addText">(刻章码短信或领证通知短信)</span></p>
                    <div class="uploadBox">
                        <input type="file" class="uploadInput" accept="image/*" onchange="uploadFile($(this),$(this).parent())">
                        <img src="" alt="" class="showImg">
                    </div>
                </div>
                <div class="formItem">
                    <p class="labTitle">备注</p>
                    <textarea class="remarkText" name="" id="" cols="" rows="" placeholder="如需其它服务请备注"></textarea>
                </div>
            </div>
            <div class="receiveInfo">
                <p class="title">收货信息</p>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;联系人</p>
                    <input class="placeholderText receiverName" type="text" placeholder="请输入联系人">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;手机号码</p>
                    <input class="placeholderText receiverTel" type="text" placeholder="请输入手机号码">
                </div>
                <div class="formItem">
                    <p class="labTitle"><span class="isRequired">*</span>&nbsp;收货地址</p>
                    <input class="placeholderText receiverAdd" type="text" placeholder="请输入收货地址">
                </div>
            </div>
            <a href="javascript:void(0)" class="weui_btn weui_btn_primary nextBtn">下一步</a>
        </div>
    </div>
</body>
</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../lib/layer/layer.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        // 获取刻章列表方法
        function getSealGoods(zoomId,areaId) {
            var parameterNum= arguments.length;
            $.ajax({
                url: baseUrl+'/api/signet/list',
                // url: test1+'/api/signet/list',
                type: 'post',
                headers: {
                    "X-Jdw-Token": JSON.parse(localStorage.getItem('loginData')).token
                },
                data: {
                    busModId: "1",// 企业刻章
                    regionId: zoomId,
                    areaId: areaId
                },
                success: function(res) {
                    // 办理区域,使用重载实现
                    if(parameterNum == 0) {
                        for (var i = 0; i < res.data.region.length; i++) {
                            if(i==0){
                                var zoomItem= '<li class="checkedItem" zoomId='+res.data.region[i].regionId+' areaId='+res.data.region[i].agencyId+'>'+res.data.region[i].name+'</li>'
                            }else {
                                var zoomItem= '<li zoomId='+res.data.region[i].regionId+' areaId='+res.data.region[i].agencyId+'>'+res.data.region[i].name+'</li>'
                            }
                            $('#sealZoom').append(zoomItem);
                        }
                    }
                    // 刻章列表
                    for (var k = 0; k < res.data.goods[0].goods.length; k++) {
                        if(res.data.goods[0].goods[k].name == "私章") {
                            var sealItem= '<li class="sealItem sealPri" sealId='+res.data.goods[0].goods[k].id+'>'+
                                            '<img src="'+res.data.goods[0].goods[k].imgUrl+'" alt="">'+
                                            '<span class="sealType">'+res.data.goods[0].goods[k].name+'</span>'+
                                            '<span class="sealPrice">￥'+res.data.goods[0].goods[k].marketPrice+'</span>'+
                                            '<button class="addBtn"><span>+</span>添加</button>'+
                                        '</li>'
                        }else {
                            var sealItem= '<li class="sealItem" sealId='+res.data.goods[0].goods[k].id+'>'+
                                            '<img src="'+res.data.goods[0].goods[k].imgUrl+'" alt="">'+
                                            '<span class="sealType">'+res.data.goods[0].goods[k].name+'</span>'+
                                            '<span class="sealPrice">￥'+res.data.goods[0].goods[k].marketPrice+'</span>'+
                                            '<button class="addBtn"><span>+</span>添加</button>'+
                                        '</li>'
                        }
                        $('#openSealList').append(sealItem);
                        
                    }
                    // 注销列表
                    for (var j = 0; j < res.data.goods[1].goods.length; j++) {
                        if(j== res.data.goods[1].goods.length-1) {
                            var closeSeal= '<li class="lastItem" closeId='+res.data.goods[1].goods[j].id+'>'+res.data.goods[1].goods[j].name+'</li>'
                        }else {
                            var closeSeal= '<li closeId='+res.data.goods[1].goods[j].id+'>'+res.data.goods[1].goods[j].name+'</li>'
                        }
                        $('#closeSealList').append(closeSeal)
                    }
                }
            })
        }

        getSealGoods(); // 默认获取印章列表

        // 选择区域获取对应区域印章列表
        $('.selectZoom').on('touchend','li',function(e){
            $('#openSealList').empty();
            $('#closeSealList').empty();
            $(this).addClass('checkedItem').siblings('li').removeClass('checkedItem');
            var zoomId= $(this).attr('zoomId');
            var areaId= $(this).attr('areaId');
            // 发送请求获取对应区域刻章列表
            getSealGoods(zoomId);
        })

        // 选择注销章
        $('.closeSeal').on('touchend','li',function(e){
            $(this).toggleClass('checkedItem');
        })
        
        // 点击下一步提交订单
        $('.nextBtn').on('touchend',function(e){
            var orderInfo = {};
            var orderInfoData= {};
            var companyName = $('.companyName').val(); // 获取公司名称
            // var personID = $('.personID').val(); // 获取法人身份证
            var zoomArea = $('.selectZoom li.checkedItem').text(); // 办理区域            
            var receiverName = $('.receiverName').val(); // 收货人姓名
            var receiverTel = $('.receiverTel').val(); // 收货人电话
            var receiverAdd = $('.receiverAdd').val(); // 收货地址
            var remarkText = $('.remarkText').val(); // 备注信息
            var showImgSrc= $('.showImg').attr('src'); // 上传图片url地址
            var shippingFee= '0';
            var seal_goods= [];  // 购买印章信息
            var seal_goodsData= [];  // 购买印章信息
            var addBtnList = $('.addBtn');
            for (let i = 0; i < addBtnList.length; i++) {
                if($(addBtnList[i]).text() == "已添加"){
                    var sealIds = $(addBtnList[i]).parent().attr('sealId')
                    var type = $(addBtnList[i]).siblings('.sealType').text();
                    var price = $(addBtnList[i]).siblings('.sealPrice').text().replace('￥','');
                    var sealItem = {typeAbout:type,priceAbout:price}
                    seal_goodsData.push(sealItem);
                    sealIds= Number(sealIds);
                    seal_goods.push(sealIds);
                }else {
                    continue;
                }   
            } 
            var closeSealList = $('.closeSeal>li.checkedItem'); // 注销印章信息
            var closeSealFlag = 0; //没有添加注销印章
            if(closeSealList.length > 0){
                closeSealFlag = 1; //有添加注销印章
                shippingFee= '24';
                for (let j = 0; j < closeSealList.length; j++) {
                    var closeIds= $(closeSealList[j]).attr('closeId');
                    var type= "注销"+$(closeSealList[j]).text();
                    var price = 0.00;
                    seal_goodsData.push( {typeAbout:type,priceAbout:price})
                    closeIds= Number(closeIds);
                    seal_goods.push(closeIds)
                }
            }
            
            orderInfo= {
                busModId: '1',
                cityId: JSON.parse(localStorage.getItem('loginData')).cityId,
                companyName: companyName,
                // legalIdCard: personID,
                // zoomArea: zoomArea,
                busLicense: showImgSrc,
                goodsIds: seal_goods,
                phone: receiverTel,
                address: receiverAdd,
                consignee:receiverName,
                postscript: remarkText,
                shippingFee: shippingFee,
                creditCode: '123456789',    
            };

            orderInfoData= {
                companyName: companyName,
                // personID: personID,
                uploadImg: showImgSrc,
                seal_goods: seal_goodsData,
                receiverTel: receiverTel,
                receiverAdd:  receiverAdd,
                receiverName: receiverName,
                zoomArea: zoomArea,
                remarkText: remarkText,
                isCloseSeal: closeSealFlag
            };
            orderInfo= JSON.stringify(orderInfo);
            orderInfoData= JSON.stringify(orderInfoData);
            localStorage.setItem('sealFormMes',orderInfoData);

        // 正则验证表单信息
            if(companyName == ''){ //验证公司名称
                layer.msg('请输入公司名称');
                return;
            }

            // if(personID == ''){ //验证法人身份证
            //     layer.msg('请输入法人身份证');
            //     return;
            // }else if(!(/^([0-9]){7,18}(x|X)?$ 或 ^\d{8,18}|[0-9x]{8,18}|[0-9X]{8,18}?$/.test(personID))) {
            //     layer.msg('请填写正确的身份证号码');
            //     return;
            // }

            if(receiverName == ''){ //验证收货人姓名
                layer.msg('请输入收货人姓名');
                return;
            }

            if(receiverTel == ''){ //验证收货人电话
                layer.msg('请输入收货人电话');
                return;
            }else if(!(/^(13[0-9]|14[5|7]|15[0|1|2|3|5|6|7|8|9]|18[0|1|2|3|5|6|7|8|9])\d{8}$/.test(receiverTel))) {
                layer.msg('请填写正确的收货人电话');
                return;
            }

            if(receiverAdd == ''){ //验证收货人地址
                layer.msg('请输入收货人地址');
                return;
            }

            if(seal_goods.length == 0) {
                layer.msg('请选择需要购买的印章')
                return;
            }

            $.ajax({
                url: baseUrl+'/api/signet/createOrder',
                // url: test1+'/api/signet/createOrder',
                type: 'post',
                headers: {
                    "X-Jdw-Token": JSON.parse(localStorage.getItem('loginData')).token
                },
                data: orderInfo,
                contentType: 'application/json',
                success: function(res){
                    if(res.code == 0) {
                        var orderId= res.data.orderId;
                        localStorage.setItem('sealOrderId',orderId)
                        // window.location.href = pageUrl+"/seal_order.html";
                        window.location.href = "./seal_order.html";
                    }else {
                        layer.msg(res.msg)
                    }
                }
            })
            e.preventDefault();
        })
    })
 
</script>