<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>深圳市聚雕网科技有限公司</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="sealOrderContainer">
        <div class="orderAbout seal_information">
            <p class="orderAbout_title">刻章信息</p>
            <div class="orderAbout_content">
                <p class="informationItem">公司名称:&nbsp;<span class="companyName">深圳聚雕网科技有限公司</span></p>
                <p class="informationItem">法人身份证号码:&nbsp;<span class="ID">420281198508078451</span></p>
                <p class="informationItem">办理区域:&nbsp;<span class="zoom">龙华区</span></p>
                <p class="informationItem">备注:&nbsp;<span class="remarkText">没有办不了的业务</span></p>  
                <p class="informationItem">营业执照:<p class="tradingPic"><img src="../img/tradingPic.jpg" alt=""></p></p>                                
            </div>

        </div>
        <div class="orderAbout seal_goods">
            <p class="orderAbout_title">选购印章</p>
            <div class="orderAbout_content">
                <table class="sealListBox">
                    <tbody>
                        <tr class="sealItem">
                            <td class="sealIcon">
                                <img src="../img/sealPub.jpg" alt="">
                            </td>
                            <td class="sealName">公章</td>
                            <td class="sealAccount">×1</td>
                            <td class="sealPrice">￥130.00</td>
                        </tr>
                        <tr class="sealItem">
                            <td class="sealIcon">
                                <img src="../img/sealPub.jpg" alt="">
                            </td>
                            <td class="sealName">财务章</td>
                            <td class="sealAccount">×1</td>
                            <td class="sealPrice">￥160.00</td>
                        </tr>
                        <tr class="sealItem">
                            <td class="sealIcon">
                                <img src="../img/sealPub.jpg" alt="">
                            </td>
                            <td class="sealName">合同章</td>
                            <td class="sealAccount">×1</td>
                            <td class="sealPrice">￥130.00</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        <div class="orderAbout receive_address">
            <p class="orderAbout_title">收货信息</p>
            <div class="orderAbout_content">
                <p class="userInfo">
                    <span class="userName">张晓东</span>    
                    <span class="userTel">18603059551</span>
                </p>    
                <p class="userInfo">
                    <span class="userAdd">广东省深圳市龙华新区东环一路壹城中心E区2栋909</span>
                </p>
            </div>  
        </div>
        <div class="tipBox">
            <p class="tipTitle">温馨提示</p>
            <p class="tipText">1、工作日下午五点前下的刻章订单，次日安排寄出</p>
            <p class="tipText">2、因政策原因，聚雕网只承接3个月之内新注册公司的刻章业务，请您核实公司注册日期，暂不承接变更及遗失补刻，以免产生不必要的退款。</p>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="payAmount">￥420.00</span>
        </span>
        <a href="javascript:;" class="fr paymentBtn">微信支付</a>
    </div>
</body>

</html>