<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>企业刻章</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css">
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="orderInfo">
                <p class="title">刻章信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">办理区域<span class="colon">:</span></span>
                        <span class="labContent zoom"></span>
                    </p>
                    <p class="orderItem">
                        <span class="labTitle">备注<span class="colon">:</span></span>
                        <span class="labContent remarkText"></span>
                    </p>  
                   <div class="orderItem">
                        <span class="labTitle">营业执照<span class="colon">:</span></span>
                        <p class="tradingPic"><img class="showImg" src='' alt=""></p>
                    </div>
                </div>
    
            </div>
            <div class="orderInfo">
                <p class="title">选购印章</p>
                <div class="content">
                    <table class="sealListBox">
                        <tbody id="sealList">
    
                        </tbody>
                    </table>
                </div>
            </div>
            <div class="orderInfo">
                <p class="title">收货信息</p>
                <div class="content">
                    <p class="orderItem">
                        <span class="labContent userName"></span>    
                        <span class="labContent userTel"></span>
                    </p>    
                    <p class="orderItem">
                        <span class="labContent userAdd"></span>
                    </p>
                </div>  
            </div>
            <div class="tipBox">
                <p class="tipTitle">温馨提示</p>
                <p class="tipText">1、工作日下午五点前下的刻章订单，次日安排寄出</p>
                <p class="tipText">2、因政策原因，聚雕网只承接3个月之内新注册公司的刻章业务，请您核实公司注册日期，暂不承接变更及遗失补刻，以免产生不必要的退款。</p>
            </div>
        </div>
    </div>
    <div class="paymentBox clearfix">
        <span class="fl payInfo">
            订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
        </span>
        <a href="javascript:void(0)" class="fr paymentBtn">微信支付</a>
    </div>
</body>

</html>

<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        var sealOrderAbout = JSON.parse(localStorage.getItem('sealFormMes')) ;
        $('.orderItem .companyName').text(sealOrderAbout.companyName);
        // $('.orderItem .ID').text(sealOrderAbout.personID);
        $('.orderItem .zoom').text(sealOrderAbout.zoomArea);
        $('.orderItem .remarkText').text(sealOrderAbout.remarkText);
        $('.showImg').attr('src', sealOrderAbout.uploadImg);
        $('.orderInfo .userName').text(sealOrderAbout.receiverName);
        $('.orderInfo .userTel').text(sealOrderAbout.receiverTel);
        $('.orderInfo .userAdd').text(sealOrderAbout.receiverAdd);
        
        var orderAmount= 0;
        for (let i = 0; i < sealOrderAbout.seal_goods.length; i++) {
            var imgSrc = '../img/sealPub.jpg';
            if(sealOrderAbout.seal_goods[i].typeAbout == '私章') {
                imgSrc = "../img/sealPri.jpg"
            }
            var trItem = '<tr class="sealItem">'+
                                '<td class="sealIcon">'+
                                    '<img src='+imgSrc+' alt="">'+
                                '</td>'+
                                '<td class="sealName">'+sealOrderAbout.seal_goods[i].typeAbout+'</td>'+
                                '<td class="sealAccount">×1</td>'+
                                '<td class="sealPrice">￥'+sealOrderAbout.seal_goods[i].priceAbout+'</td>'+
                            '</tr>'
            $('#sealList').append(trItem);
             orderAmount+= parseInt(sealOrderAbout.seal_goods[i].priceAbout);
        }
        if(sealOrderAbout.isCloseSeal == 1) {
            $('.payInfo .payAmount').text(orderAmount+24)
        }else {
            $('.payInfo .payAmount').text(orderAmount)
        }
        $('.paymentBox .paymentBtn').on('click', function(){
            window.location.href=  baseUrl+'/api/pay/create?orderId='+localStorage.getItem('sealOrderId')+'&returnUrl=http://judiaowang.cn/app/index.html&token='+JSON.parse(localStorage.getItem('loginData')).token
            // window.location.href= test1+'/api/pay/create?orderId='+localStorage.getItem('sealOrderId')+'&returnUrl=http://judiaowang.cn/app/weChat/index.html&token='+JSON.parse(localStorage.getItem('loginData')).token
        })
    })
    
</script>

