<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>订单支付</title>
    <link rel="stylesheet" href="../css/weui.min.css">
    <link rel="stylesheet" href="../css/regist.css">
    <link rel="stylesheet" href="../css/common.css?v=1.0">    
    <link rel="stylesheet" href="../css/index.css">
</head>

<body>
    <div class="containerOut">
        <div class="headerBar"></div>
        <div class="containerInner">
            <div class="orderInfo">
                <p class="title">入驻信息</p>
                <div class="contetn">
                    <p class="orderItem">
                        <span class="labTitle">公司名称<span class="colon">:</span></span>
                        <span class="labContent companyName text"></span>
                    </p>
                </div>
            </div>
            <div class="customInfo">
                <p class="title">咨询方式</p>
                <div class="formItem clearfix">
                    <img src="../img/userIcon03.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">聚雕网客服黄小姐</span><span class="addText">(对接客服)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13823590716</span>
                    </p>
                </div>
                <div class="formItem clearfix">
                    <img src="../img/site.jpg" alt="" class="customIcon fl">
                    <p class="customBox fl">
                        <span class="title">商务经理张先生</span><span class="addText">(对接商务经理)</span><br>
                        <span class="tel"><span class="glyphicon glyphicon-phone-alt telIcon"></span> 13310874521</span>
                    </p>
                </div>
            </div>
        </div>
        <div class="paymentBox clearfix">
            <!-- <span class="fl payInfo">
                订单金额 : <span class="RMB_flag">￥</span><span class="payAmount"></span>
            </span> -->
            <a href="javascript:void(0)" class="fr paymentBtn">等待审核</a>
        </div>
    </div>
</body>

</html>


<script src="http://res.wx.qq.com/open/js/jweixin-1.2.0.js"></script>
<script src="../js/jQuery/jquery-3.4.0.js"></script>
<script src="../js/index.js"></script>
<script>
    $(function(){
        var orderInfoData= JSON.parse(sessionStorage.getItem('tax_orderInfo'));
        var orderId= getUrlParam('orderId');
        var targetUrl= 'http://judiaowang.cn/app/view/taxReport_form.html';
        $('.orderItem>.companyName').text(orderInfoData.companyName);
    })
</script>
<script>
    $(function(){
        var orderInfoData= JSON.parse(sessionStorage.getItem('tianMao_orderInfo'));
        var orderId= getUrlParam('orderId');
        $('.orderItem>.companyName').text(orderInfoData.companyName);
    })
</script>